{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div>
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->
    <div class="content">
        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        </h3>
                </div>
                </ol>
            </div>
            <!-- Page Header Close -->

            <div class="container">
                <!-- Start::row-1 -->
                <div class="grid grid-cols-12 gap-4 mx-auto">
                    <!-- Semua item ditaruh langsung di dalam grid -->

                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'sale-official-page' %}">
                                    <div class="flex items-start flex-wrap">
                                        <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-success/50 shadow-sm">
                                                <i class="ri-list-check-2 text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Data Coa</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Official data COA</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                             <a href="{% url 'sale-split-coa-page' %}">
                                    <div class="flex items-start flex-wrap">
                                          <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-success/50 shadow-sm">
                                                <i class="ri-list-check-2 text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Split COA</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Data Internal vs COA
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                              <a href="{% url 'sale-split-sample-page' %}">
                                    <div class="flex items-start flex-wrap">
                                          <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-success/50 shadow-sm">
                                                <i class="ri-list-check-2 text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Split Samples</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Data Split samples</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'monitoring-sample-page' %}">
                                    <div class="flex items-start flex-wrap">
                                          <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-success/50 shadow-sm">
                                                <i class="ri-list-check-2 text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Barging Monitoring</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Daily Monitoring Sample</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'sale-split-coa-chart-page' %}">
                                    <div class="flex items-start flex-wrap">
                                        <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-success/50 shadow-sm">
                                                <i class="ri-line-chart-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Grade by code</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Chart COA analysis</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'monitoring-chart-page' %}">
                                    <div class="flex items-start flex-wrap">
                                        <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-success/50 shadow-sm">
                                                <i class="ri-line-chart-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Grade by daily</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Grade Barging Monitoring</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                
                    <!-- Item baru tinggal tambah div dengan col-span yang sama -->
                </div>

                <!--End::row-1 -->
            </div>

        </div>
        <!-- Start::main-content -->
    </div>


</div>
<!-- End::add task modal -->

<!-- Footer Start -->
{% include 'layout/footer.html' %}
<!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}


</body>

</html>