{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div>
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->
    <div class="content">
        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        Data Activity Unit</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-[0.813rem] ps-[0.5rem]">
                        <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                            href="javascript:void(0);">
                            Tables
                            <i
                                class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 "
                        aria-current="page">
                        data mine
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->

            <!-- Start::row-1 -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">Delete bulk activity</h5>
                        </div>
                        <div class="box-body">
                            <div class="flex justify-start md:justify-end mb-2">
                                <div class="flex flex-col md:flex-row md:items-end gap-4  w-full md:w-auto">
                                    <div class="w-[220px]">
                                        <label class="form-label">Start date</label>
                                        <input type="date" class="form-control w-full !rounded-md" id="date_start"
                                            name="date_start" value="{{day_date}}">
                                    </div>
                                    <div class="w-[140px]">
                                        <label class="form-label">End Date</label>
                                        <input type="date" class="form-control" id="date_end" name="date_end"
                                            value="{{day_date}}">
                                    </div>
                                    <div class="mt-4">
                                        <button type="button" id="applyFilterBtn"
                                            class="ti-btn ti-btn-primary !rounded-lg ti-btn-wave mt-4">Filter</button>
                                    </div>
                                </div>
                            </div>
                            <div class="overflow-auto">
                                <table id="data_table"
                                    class="table ti-striped-table table-hover min-w-full ti-custom-table-hover nowrap mb"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Shift</th>
                                            <th>HM Start</th>
                                            <th>HM End</th>
                                            <th>Unit id</th>
                                            <th>Created At</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="mt-5 flex items-center justify-between">
                                    <!-- KIRI -->
                                    <!-- <div id="btn_append">
                                        <button type="button" id="btn-append-hm"
                                            class="ti-btn ti-btn-warning !rounded-lg !py-1 !px-2 ti-btn-wave">
                                            Append HM
                                        </button>
                                    </div> -->
                                    <!-- KANAN -->
                                    <div id="btn_clear">
                                        <button type="button" id="applyRemoveBtn"
                                            class="ti-btn ti-btn-danger !rounded-lg !py-1 !px-2 ti-btn-wave">
                                            Delete Bulk
                                        </button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End::row-1 -->
        </div>
        <!-- Start::main-content -->
    </div>


</div>
<!-- End::add task modal -->

<!-- Footer Start -->
{% include 'layout/footer.html' %}
<!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}

<script type="text/javascript">
    $(document).ready(function () {
        /*-- Pass Header Token ---*/
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });
        $('#btn_clear').hide(); // 
        // $('#btn_append').hide(); // 
        table = $('#data_table').DataTable().clear().destroy();
        /*-- Render DataTable --*/
        let url = '{% url "mine-production-timesheet-hm-range-append" %}';
        var table = $('#data_table').DataTable({
            'processing': true,
            'serverSide': true,
            'responsive': true,
            'autoWidth': true,
            language: {
                paginate: {
                    previous: "«",
                    next: "»"
                }
            },
            "ajax": {
                "url": url,
                "type": "POST",
                dataType: 'json',
                "data": function (data) {
                    data.date_start = $('#date_start').val();
                    data.date_end = $('#date_end').val();
                    return data;
                },
            },
            columns: [
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, // Kolom nomor otomatis
                { 'data': 'date', 'name': 'date', 'searchable': true },
                { 'data': 'shift', 'name': 'shift', 'searchable': true },
                { 'data': 'hm_start', 'name': 'hm_start', 'searchable': false },
                { 'data': 'hm_end', 'name': 'hm_end', 'searchable': false },
                { 'data': 'unit_id', 'name': 'unit_id', 'searchable': false },
                { 'data': 'created_at', 'name': 'created_at', 'searchable': false }
            ],
            // Mengatur default sort pada kolom secara desc
            order: [
                [1, 'desc']
            ],

        });

        /*--Apply Filter---*/
        $('#applyFilterBtn').click(function () {
            var date_start = $('#date_start').val();
            var date_end = $('#date_end').val();
            $('#btn_clear').hide(); // 
            if (date_start == '') {
                $("#date_start").focus();
                return false;
            }
            if (date_end == '') {
                $("#date_end").focus();
                return false;
            }
            else {
                // $('#data_table').DataTable().clear().destroy();
                table.ajax.reload();
                $('#btn_clear').show(); // 
                // $('#btn_append').show(); // 
            }

        });
        /* Append HM Unit */
        // document.getElementById('btn-append-hm').addEventListener('click', function () {
        //     const dateStart = document.getElementById('date_start').value
        //     const dateEnd = document.getElementById('date_end').value

        //     Swal.fire({
        //         title: 'Proses data...',
        //         html: 'Sedang menyiapkan HM Unit',
        //         allowOutsideClick: false,
        //         allowEscapeKey: false,
        //         showConfirmButton: false,
        //         didOpen: () => {
        //             Swal.showLoading()
        //         }
        //     })

        //     fetch("{% url 'append-hm-range' %}", {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //             'X-CSRFToken': '{{ csrf_token }}'
        //         },
        //         body: JSON.stringify({
        //             date_start: dateStart,
        //             date_end: dateEnd
        //         })
        //     })
        //         .then(res => res.json())
        //         .then(res => {
        //             Swal.close()

        //             if (res.success) {
        //                 Swal.fire({
        //                     icon: 'success',
        //                     title: 'Berhasil',
        //                     text: res.message,
        //                     timer: 1500,
        //                     showConfirmButton: false
        //                 })
        //                 table.ajax.reload();
        //                 $('#btn_clear').hide(); // 
        //                 // $('#btn_append').hide(); // 

        //             } else {
        //                 Swal.fire({
        //                     icon: 'error',
        //                     title: 'Gagal',
        //                     text: res.message
        //                 })
        //             }
        //         })
        //         .catch(err => {
        //             Swal.close()
        //             Swal.fire({
        //                 icon: 'error',
        //                 title: 'Error',
        //                 text: 'Terjadi kesalahan server'
        //             })
        //         })
        // })
        
        /* Remove data */
        $('#applyRemoveBtn').click(function () {
            var date_start = $('#date_start').val();
            var date_end = $('#date_end').val();
            var url = '{% url "delete-bulk-hm-range" %}';
            if (date_start == '') {
                $("#date_start").focus();
                return false;
            }
            if (date_end == '') {
                $("#date_end").focus();
                return false;
            }
            else {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Delete :" + " " + date_start + " to " + date_end,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: 'btn btn-success',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Delete it!',
                    // width: 320,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: url,
                            type: "DELETE",
                            contentType: 'application/json',
                            data: JSON.stringify(
                                {
                                    date_start: date_start,
                                    date_end: date_end
                                }

                            ), // Sending data in the body
                            success: function (data) {
                                Swal.fire(
                                    'Deleted!',
                                    data.message,
                                    'success'
                                );
                                table.draw();
                                $('#btn_clear').hide(); // 
                            },
                            error: function (xhr) {
                                if (xhr.status === 403) {
                                    Swal.fire(
                                        'Access Denied!',
                                        xhr.responseJSON.message,
                                        'error'
                                    );
                                } else if (xhr.status === 404) {
                                    Swal.fire(
                                        'Not Found!',
                                        xhr.responseJSON.message,
                                        'error'
                                    );
                                } else {
                                    Swal.fire(
                                        'Error!',
                                        'Something went wrong.',
                                        'error'
                                    );
                                }
                            }
                        });
                    }
                })
            }
        });
    });
</script>


</body>

</html>