<div class="table-responsive">
    <table id="data_table" class="table table-striped nowrap" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Shift</th>
                <th>Loading Time</th>
                <th>Loader</th>
                <th>Hauler</th>
                <th>Sources</th>
                <th>Loading point</th>
                <th>Dumping point</th>
                <th>Dome</th>
                <th>Mine Category</th>
                <th>Materials</th>
                <th>Ritase</th>
                <th>Tonnagge</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>