<div class="overflow-auto">
    <table id="prudctionsTable" class="table ti-custom-table-hover table-striped nowrap mb">
        <thead>
            <tr>
                <th scope="col" width="2%">#</th>
                <th scope="col" width="10%">Date Production</th>
                <th scope="col" width="10%">Shift</th>
                <th scope="col" width="10%">Time_Loading</th>
                <th scope="col" width="10%">Loader_Type</th>
                <th scope="col" width="10%">Hauler_Type</th>
                <th scope="col" width="10%">Hauler_Class</th>
                <!-- <th scope="col" width="10%">Sources Area</th> -->
                <th scope="col" width="10%">Loading Point</th>
                <th scope="col" width="10%">Dumping Point</th>
                <th scope="col" width="10%">Dome</th>
                <th scope="col" width="10%" class="text-muted">Category_Mine</th>
                <th scope="col" width="10%">Material</th>
                <th scope="col" width="15%">Ritase_Totals</th>
                <th scope="col" width="10%">Tonnage_Totals</th>
                <!-- <th>Remarks ....</th> -->
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>