<div class="xl:col-span-6 col-span-12">
    <div class="box custom-box">
        <div class="box-header justify-between">
            <div class="box-title">
                Prodcutions by Times
            </div>
            <div>
                <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary">View
                    All</button>
            </div>
        </div>
        <div class="box-body">
            <!-- NAV TABS JAM 07–18 -->
            <nav class="flex flex-wrap xxxl:flex-nowrap justify-start sm:justify-between" aria-label="Tabs"
                role="tablist" id="production-tabs">
                <!-- Loop dari 07 sampai 18 -->
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white active"
                    id="tab-07-btn" data-hs-tab="#tab-07" aria-controls="tab-07">
                    <span class="block mb-1">07</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-08-btn" data-hs-tab="#tab-08" aria-controls="tab-08">
                    <span class="block mb-1">08</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-09-btn" data-hs-tab="#tab-09" aria-controls="tab-09">
                    <span class="block mb-1">09</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-10-btn" data-hs-tab="#tab-10" aria-controls="tab-10">
                    <span class="block mb-1">10</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-11-btn" data-hs-tab="#tab-11" aria-controls="tab-11">
                    <span class="block mb-1">11</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-12-btn" data-hs-tab="#tab-12" aria-controls="tab-12">
                    <span class="block mb-1">12</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-13-btn" data-hs-tab="#tab-13" aria-controls="tab-13">
                    <span class="block mb-1">13</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-14-btn" data-hs-tab="#tab-14" aria-controls="tab-14">
                    <span class="block mb-1">14</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-15-btn" data-hs-tab="#tab-15" aria-controls="tab-15">
                    <span class="block mb-1">15</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-16-btn" data-hs-tab="#tab-16" aria-controls="tab-16">
                    <span class="block mb-1">16</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-17-btn" data-hs-tab="#tab-17" aria-controls="tab-17">
                    <span class="block mb-1">17</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
                <button type="button"
                    class="xxxl:w-full hs-tab-active:bg-primary hs-tab-active:text-white py-3 px-2 block items-center gap-2 bg-transparent text-sm font-medium text-center text-defaulttextcolor rounded-sm hover:text-primary dark:text-[#8c9097] dark:text-white/50 dark:hover:text-white"
                    id="tab-18-btn" data-hs-tab="#tab-18" aria-controls="tab-18">
                    <span class="block mb-1">18</span>
                    <span class="block mb-0 opacity-[0.7] text-[0.75rem]">Day</span>
                </button>
            </nav>

            <div class="tab-content pt-2 my-4" id="production-tab-content">
                <!-- KONTEN TAB JAM 07–18 -->
                <div id="tab-07" class="hs-tab-content block">
                </div>
                <div id="tab-08" class="hs-tab-content hidden">
                </div>
                <div id="tab-09" class="hs-tab-content hidden">
                </div>
                <div id="tab-10" class="hs-tab-content hidden">
                </div>
                <div id="tab-11" class="hs-tab-content hidden">
                </div>
                <div id="tab-12" class="hs-tab-content hidden">
                </div>
                <div id="tab-13" class="hs-tab-content hidden">
                </div>
                <div id="tab-14" class="hs-tab-content hidden">
                </div>
                <div id="tab-15" class="hs-tab-content hidden">
                </div>
                <div id="tab-16" class="hs-tab-content hidden">
                </div>
                <div id="tab-17" class="hs-tab-content hidden">
                </div>
                <div id="tab-18" class="hs-tab-content hidden">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="xl:col-span-6 col-span-12">
    <div class="box custom-box">
        <div class="box-header">
            <div class="box-title">Daily Chart Productions</div>
        </div>
        <div class="box-body">
            <div id="chartDaily"></div>
        </div>
    </div>
</div>

<!-- <div class="xl:col-span-4 col-span-12">
    <div class="box custom-box">
        <div class="box-header justify-between">
            <div class="box-title">
                Reason
            </div>
            <div>
                <button type="button" class="ti-btn !py-1 !px-2 !text-[0.75rem] ti-btn-primary">View
                    All</button>
            </div>
        </div>
        <div class="box-body">
            <ul class="list-unstyled timeline-widget mb-0 my-3">
                <li class="timeline-widget-list">
                    <div class="flex items-start">
                        <div class="me-[3rem] text-center">
                            <span class="block text-[1.25rem] font-semibold">02</span>
                            <span class="block text-[0.75rem] text-[#8c9097] dark:text-white/50">Mon</span>
                        </div>
                        <div class="flex flex-wrap flex-grow items-center justify-between">
                            <div>
                                <p class="mb-1  timeline-widget-content text-wrap">You have an
                                    announcement - Ipsum Est Diam Eirmod</p>
                                <p class="mb-0 text-[0.75rem] leading-none text-[#8c9097] dark:text-white/50">
                                    10:00AM<span class="badge bg-primary/10 text-primary ms-2">Announcement</span>
                                </p>
                            </div>
                            <div class="hs-dropdown ti-dropdown">
                                <a aria-label="anchor" href="javascript:void(0);"
                                    class="p-2 text-[1rem] text-[#8c9097] dark:text-white/50">
                                    <i class="fe fe-more-vertical"></i>
                                </a>
                                <ul class="hs-dropdown-menu ti-dropdown-menu hidden">
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Action</a>
                                    </li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Another
                                            action</a></li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Something
                                            else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-widget-list">
                    <div class="flex items-start">
                        <div class="me-[3rem] text-center">
                            <span class="block text-[1.25rem] font-semibold">15</span>
                            <span class="block text-[0.75rem] text-[#8c9097] dark:text-white/50">Sun</span>
                        </div>
                        <div class="flex flex-wrap flex-grow items-center justify-between">
                            <div>
                                <p class="mb-1 sm:text-truncate timeline-widget-content text-wrap">
                                    National holiday - Vero Jayanti</p>
                                <p class="mb-0 text-[0.75rem] leading-none text-[#8c9097] dark:text-white/50">
                                    <span class="badge bg-warning/10 text-warning">Holiday</span>
                                </p>
                            </div>
                            <div class="hs-dropdown ti-dropdown">
                                <a aria-label="anchor" href="javascript:void(0);"
                                    class="p-2 text-[1rem] text-[#8c9097] dark:text-white/50">
                                    <i class="fe fe-more-vertical"></i>
                                </a>
                                <ul class="hs-dropdown-menu ti-dropdown-menu hidden">
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Action</a>
                                    </li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Another
                                            action</a></li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Something
                                            else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-widget-list">
                    <div class="flex items-start">
                        <div class="me-[3rem] text-center">
                            <span class="block text-[1.25rem] font-semibold">23</span>
                            <span class="block text-[0.75rem] text-[#8c9097] dark:text-white/50">Mon</span>
                        </div>
                        <div class="flex flex-wrap flex-grow items-center justify-between">
                            <div>
                                <p class="mb-1 sm:text-truncate timeline-widget-content text-wrap">John
                                    pup birthday - Team Member</p>
                                <p class="mb-4 text-[0.75rem] leading-none text-[#8c9097] dark:text-white/50">
                                    09:00AM<span class="badge bg-success/10 text-success ms-2">Birthday</span>
                                </p>
                                <p class="mb-1 sm:text-truncate timeline-widget-content text-wrap">Amet
                                    sed no dolor kasd - Et Dolores Tempor Erat</p>
                                <p class="mb-0 text-[0.75rem] leading-none text-[#8c9097] dark:text-white/50">
                                    04:00PM<span class="badge bg-primary/10 text-primary ms-2">Announcement</span>
                                </p>
                            </div>
                            <div class="hs-dropdown ti-dropdown">
                                <a aria-label="anchor" href="javascript:void(0);"
                                    class="p-2 text-[1rem] text-[#8c9097] dark:text-white/50">
                                    <i class="fe fe-more-vertical"></i>
                                </a>
                                <ul class="hs-dropdown-menu ti-dropdown-menu hidden">
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Action</a>
                                    </li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Another
                                            action</a></li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Something
                                            else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-widget-list">
                    <div class="flex items-start">
                        <div class="me-[3rem] text-center">
                            <span class="block text-[1.25rem] font-semibold">31</span>
                            <span class="block text-[0.75rem] text-[#8c9097] dark:text-white/50">Tue</span>
                        </div>
                        <div class="flex flex-wrap flex-grow items-center justify-between">
                            <div>
                                <p class="mb-1 sm:text-truncate timeline-widget-content text-wrap">
                                    National Holiday - Dolore Ipsum</p>
                                <p class="mb-0 text-[0.75rem] leading-none text-[#8c9097] dark:text-white/50">
                                    <span class="badge bg-warning/10 text-warning">Holiday</span>
                                </p>
                            </div>
                            <div class="hs-dropdown ti-dropdown">
                                <a aria-label="anchor" href="javascript:void(0);"
                                    class="p-2 text-[1rem] text-[#8c9097] dark:text-white/50">
                                    <i class="fe fe-more-vertical"></i>
                                </a>
                                <ul class="hs-dropdown-menu ti-dropdown-menu hidden">
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Action</a>
                                    </li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Another
                                            action</a></li>
                                    <li><a class="ti-dropdown-item" href="javascript:void(0);">Something
                                            else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> -->