<div class="overflow-auto">
    <table id="prudctionsTable" class="table ti-custom-table-hover table-striped nowrap mb">
        <thead>
            <tr>
                <th scope="col" width="2%">#</th>
                <th scope="col" width="10%">Date Hauling</th>
                <th scope="col" width="10%">Shift</th>
                <th scope="col" width="10%">Time_Hauling</th>
                <th scope="col" width="10%">Loading_Point</th>
                <th scope="col" width="10%">Material</th>
                <th scope="col" width="10%">Barging_Code</th>
                <th scope="col" width="10%">Code_lot</th>
                <th scope="col" width="10%">Sub_Lot</th>
                <th scope="col" width="10%">Group</th>
                <th scope="col" width="10%">Adjust_sale</th>
                <th scope="col" width="10%">Direct</th>
                <!-- <th>Remarks ....</th> -->
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>