<div class="table-responsive">
    <table id="data_table" class="table table-striped nowrap" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Date Hauling</th>
                <th>Shift</th>
                <th>Time</th>
                <th>Loading point</th>
                <th>Material</th>
                <th>Barging Code</th>
                <th>Code lot</th>
                <th>Sub Lot</th>
                <th>Group</th>
                <th>Ritase</th>
                <th>Tonnage</th>
                <th>Adjust</th>
                <th>Direct</th>
                <!-- <th>Action</th> -->
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot class="th_hide" style='display:none;'>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <!-- <th></th> -->
            </tr>
        </tfoot>
    </table>
</div>