<div class="flex flex-wrap justify-between mb-[0.8rem]">
    <div class="me-[3rem] flex items-center">
        <div class="me-2">
           <span class="avatar avatar-md bg-warning/10 shadow-sm !rounded-full mb-2">
                <i class="ri-line-chart-line text-[1rem] text-warning"></i>
            </span>
        </div>
        <div class="flex-grow">
            <div class="flex flex-wrap items-center justify-between">
                <p class="text-[1.125rem] text-warning font-semibold mb-0" id="lim_barging">0</p>
            </div>
            <span class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Limonite</span>
        </div>
    </div>
    <div class="me-4 flex items-center">
        <div class="me-2">
             <span class="avatar avatar-md bg-success/10 shadow-sm !rounded-full mb-2">
                <i class="ri-line-chart-line text-[1rem] text-success"></i>
            </span>
        </div>
        <div class="flex-grow">
            <div class="flex flex-wrap items-center justify-between">
                <p class="text-[1.125rem] text-success font-semibold mb-0" id="sap_barging">0</p>
            </div>
            <span class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Saprolite</span>
        </div>
    </div>
    <div class="me-4 flex items-center">
        <div class="me-2">
              <span class="avatar avatar-md bg-info/10 shadow-sm !rounded-full mb-2">
                <i class="ri-line-chart-line text-[1rem] text-info"></i>
            </span>
        </div>
        <div class="flex-grow">
            <div class="flex flex-wrap items-center justify-between">
                <p class="text-[1.125rem] text-info font-semibold mb-0" id="total_barging">0</p>
            </div>
            <span class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Total Barging</span>
        </div>
    </div>

</div>