         <div class="xl:col-span-4 lg:col-span-4 md:col-span-4 sm:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-body">
                                    <div class="flex flex-wrap items-center justify-between">
                                        <div>
                                            <h6 class="font-semibold mb-3 text-[1rem]">Total Ore</h6>
                                            <span class="text-[1.5625rem] font-semibold" id="total-ore">0</span>
                                            <span class="block text-success text-[0.75rem]">summary <i
                                                    class="ti ti-trending-up ms-1"></i></span>
                                        </div>
                                        <div id="analytics-users"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-4 lg:col-span-4 md:col-span-4 sm:col-span-6 col-span-12">
                            <div class="box">
                                <div class="box-body">
                                    <div class="flex items-center justify-between">
                                        <div>
                                            <h6 class="font-semibold mb-3 text-[1rem]">Limonite</h6>
                                            <span class="text-[1.5625rem] font-semibold" id="total-lim">0</span>
                                            <span class="block text-danger text-[0.75rem]" id="persen-lim">0<i
                                                    class="ti ti-trending-down ms-1 inline-flex"></i></span>
                                        </div>
                                        <div>
                                            <span class="avatar avatar-md bg-info shadow-sm !rounded-full mb-2">
                                        <i class="ri-line-chart-line text-[1rem] text-white"></i>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="xl:col-span-4 lg:col-span-4 md:col-span-4 sm:col-span-6 col-span-12">
                            <div class="box overflow-hidden">
                                <div class="box-body">
                                     <div class="flex items-center justify-between">
                                        <div>
                                            <h6 class="font-semibold mb-3 text-[1rem]">Saprolite</h6>
                                            <span class="text-[1.5625rem] font-semibold" id="total-sap">0</span>
                                            <span class="block text-danger text-[0.75rem]" id="persen-sap">0<i
                                                    class="ti ti-trending-down ms-1 inline-flex"></i></span>
                                        </div>
                                        <div>
                                            <span class="avatar avatar-md bg-primary shadow-sm !rounded-full mb-2">
                                        <i class="ri-line-chart-line text-[1rem] text-white"></i>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div id="analytics-bouncerate" class="mt-1 w-full"></div> -->
                            </div>
                        </div>