<div class="box-body">
    <ul class="list-none mb-0 analytics-visitors-countries min-w-full">
        <li>
            <div class="flex items-center">
                <div class="leading-none">
                    <span
                        class="avatar avatar-md !text-indigomain border bg-light dark:border-defaultborder/10 !rounded-full"><i
                            class="ti ti-view-360 text-[1.125rem]"></i></span>
                </div>
                <div class="ms-4 flex-grow leading-none">
                    <span class="text-[0.75rem]" id="nama-dome">-</span>
                </div>
                <div>
                    <span class="text-default badge bg-light font-semibold mt-2" id="total-ore">0</span>
                </div>
                <div class="ms-2">
                    <span class="text-default badge bg-light font-semibold mt-2" id="grade-ni">0%</span>
                </div>
                <div class="ms-2">
                    <span class="text-default badge bg-light font-semibold mt-2" id="grade-class">-</span>
                </div>
            </div>
        </li>

    </ul>
</div>