<table id="list-table"
    class="table whitespace-nowrap mb-0 ti-striped-table table-hover min-w-full ti-custom-table-hover fixed_header">
    <thead>
        <tr>
            <th scope="col" style="width:4%">No</th>
            <th scope="col" style="width: 85px">Stockpile</th>
            <th scope="col">Material</th>
            <th scope="col">Total Ore</th>
            <th scope="col">Release</th>
            <th scope="col">Ni</th>
            <th scope="col">Co</th>
            <th scope="col">Al2O3</th>
            <th scope="col">CaO</th>
            <th scope="col">Cr2O3</th>
            <th scope="col">Fe</th>
            <th scope="col">MgO</th>
            <th scope="col">SiO2</th>
            <th scope="col">Sm</th>
            <th scope="col">Mc</th>
            <th scope="col">Class</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>