{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div>
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->


    <div class="content">

        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        Mining</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-[0.813rem] ps-[0.5rem]">
                        <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                            href="javascript:void(0);">
                            Tables
                            <i
                                class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 "
                        aria-current="page">
                        Volume adjustment
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->


            <!-- Start::row-1 -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">Data volume adjustment</h5>
                        </div>
                        <div class="box-body">
                            <div class="flex justify-end mb-2">
                                <div class="ti-btn-list space-x-1 rtl:space-x-reverse">
                                    <button id="addNew" type="button"
                                        class="ti-btn ti-btn-primary-full !py-1 !px-2 ti-btn-wave">Add New</button>
                                </div>
                            </div>
                            <div class="overflow-auto">
                                <table id="data_table"
                                    class="table ti-striped-table table-hover min-w-full ti-custom-table-hover nowrap mb"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th class="bg-soft-secondary" width="5%">No</th>
                                            <th class="bg-soft-secondary" width="7%">Date Start</th>
                                            <th class="bg-soft-secondary" width="7%">Date End</th>
                                            <th class="bg-soft-secondary" width="10%">Category</th>
                                            <th class="bg-soft-secondary">Vendor</th>
                                            <th class="bg-soft-secondary">Source</th>
                                            <th class="bg-soft-secondary">Loading Point</th>
                                            <th class="bg-soft-secondary">Type truck</th>
                                            <th class="bg-soft-secondary">Material</th>
                                            <th class="bg-soft-secondary" width="7%">Bcm Ori</th>
                                            <th class="bg-soft-secondary" width="7%">Ton Ori</th>
                                            <th class="bg-soft-secondary" width="7%">Bcm Update</th>
                                            <th class="bg-soft-secondary" width="7%">Ton Update</th>
                                            <th class="bg-soft-secondary" width="7%">Status</th>
                                            <th class="bg-soft-secondary" width="7%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End::row-1 -->


        </div>
        <!-- Start::main-content -->

    </div>

    <!-- Start::add modal -->
    <div id="add-data" class="hs-overlay hidden ti-modal" tabindex="-1">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70">
                        Volume ajustment
                    </h6>
                    <button type="button" class="hs-dropdown-toggle text-[1rem] font-semibold"
                        data-hs-overlay="#add-data">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <!-- <div class="ti-modal-body px-4 !overflow-visible"> -->
                <div class="ti-modal-body px-4 py-2 max-h-[90vh] overflow-y-auto">
                    <div class="accordion customized-accordion accordions-items-seperate" id="customizedAccordion">
                        <div class="hs-accordion-group">
                            <div class="accordion customized-accordion accordions-items-seperate"
                                id="customizedAccordion">
                                <div class="hs-accordion-group">
                                    <div class="hs-accordion  accordion-item custom-accordion-primary"
                                        id="hs-basic-heading31">
                                        <button
                                            class="hs-accordion-toggle accordion-button  hs-accordion-active:pb-3 group inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start  transition"
                                            aria-controls="hs-basic-collapse31" type="button">
                                            KQMS Info#
                                            <svg class="hs-accordion-active:hidden hs-accordion-active:text-gray-600 hs-accordion-active:group-hover:text-gray-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-[#8c9097] dark:text-white/50"
                                                width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                            </svg>
                                            <svg class="hs-accordion-active:block hs-accordion-active:text-gray-600 hs-accordion-active:group-hover:text-gray-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-[#8c9097] dark:text-white/50"
                                                width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                            </svg>
                                        </button>
                                        <div id="hs-basic-collapse11"
                                            class="hs-accordion-content accordion-collapse w-full hidde transition-[height] duration-300"
                                            aria-labelledby="hs-basic-heading11">
                                            <div class="accordion-body">
                                                <strong>Note :</strong>
                                                Pilih date start dan date end untuk mendapatakan data dari produksi
                                                original !.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <form id="entryForm" name="entryForm">
                        <div class="grid grid-cols-12 gap-4 mt-3">

                            <div class="xl:col-span-6 col-span-12">
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="start_date" name="start_date"
                                        placeholder="Choose date">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="end_date" name="end_date"
                                        placeholder="Choose date">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Category</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="category" name="category">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Vendors</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="vendors" name="vendors">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Sorces</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="sources" name="sources">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Loading point</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="loading_point"
                                    name="loading_point">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Hauler Type</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="hauler_class"
                                    name="hauler_class">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-2 table-responsive">
                            <table id="material_table"
                                class="table ti-striped-table table-hover min-w-full ti-custom-table-hover nowrap mb"
                                style="width: 100%">
                                <thead>
                                    <tr>
                                        <th width="5%">Material</th>
                                        <th>Bcm Ori</th>
                                        <th>Tonnage Ori</th>
                                        <th>Bcm Edit</th>
                                        <th>Tonnage Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-2 mt-2 flex flex-wrap items-left justify-end gap-2 lg:justify-end">
                            <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-light align-middle"
                                data-hs-overlay="#add-data">
                                Cancel
                            </button>
                            <button type="button" id="saveBtn"
                                class="ti-btn ti-btn-primary-full !py-1 !px-2 ti-btn-wave btn-sm">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Start::edit modal -->
    <div id="edit-data" class="hs-overlay hidden ti-modal" tabindex="-1">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70">
                        Volume ajustment
                    </h6>
                    <button type="button" class="hs-dropdown-toggle text-[1rem] font-semibold"
                        data-hs-overlay="#add-data">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <div class="ti-modal-body px-4 py-2 max-h-[90vh] overflow-y-auto">
                    <div class="accordion customized-accordion accordions-items-seperate" id="customizedAccordion">
                        <div class="hs-accordion-group">
                            <div class="accordion customized-accordion accordions-items-seperate"
                                id="customizedAccordion">
                                <div class="hs-accordion-group">
                                    <div class="hs-accordion  accordion-item custom-accordion-primary"
                                        id="hs-basic-heading31">
                                        <button
                                            class="hs-accordion-toggle accordion-button  hs-accordion-active:pb-3 group inline-flex items-center justify-between gap-x-3 w-full font-semibold text-start  transition"
                                            aria-controls="hs-basic-collapse31" type="button">
                                            KQMS Info#
                                            <svg class="hs-accordion-active:hidden hs-accordion-active:text-gray-600 hs-accordion-active:group-hover:text-gray-600 block w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-[#8c9097] dark:text-white/50"
                                                width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                            </svg>
                                            <svg class="hs-accordion-active:block hs-accordion-active:text-gray-600 hs-accordion-active:group-hover:text-gray-600 hidden w-3 h-3 text-gray-600 group-hover:text-gray-500 dark:text-[#8c9097] dark:text-white/50"
                                                width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2 11L8.16086 5.31305C8.35239 5.13625 8.64761 5.13625 8.83914 5.31305L15 11"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                                            </svg>
                                        </button>
                                        <div id="hs-basic-collapse11"
                                            class="hs-accordion-content accordion-collapse w-full hidde transition-[height] duration-300"
                                            aria-labelledby="hs-basic-heading11">
                                            <div class="accordion-body">
                                                <strong>Note :</strong>
                                                Pilih date start dan date end untuk mendapatakan data dari produksi
                                                original !.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form>
                        <div class="grid grid-cols-12 gap-4 mt-3">
                            <div class="xl:col-span-6 col-span-12">
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="date_start_edit" name="date_start_edit"
                                        placeholder="Choose date">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="date_end_edit" name="date_end_edit"
                                        placeholder="Choose date">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Category</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="category_edit"
                                    name="category_edit">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Vendors</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="vendors_edit"
                                    name="vendors_edit">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Sorces</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="sources_edit"
                                    name="sources_edit">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Loading point</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="loading_edit"
                                    name="loading_edit">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Hauler Type</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="truck_edit"
                                    name="truck_edit">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Material</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="material_edit"
                                    name="material_edit">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Bcm Ori</label>
                                <input type="text" id="bcm_ori_edit" name="bcm_ori_edit"
                                    class="form-control w-full !rounded-md disabled:pointer-events-none" readonly />
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Ton Ori</label>
                                <input type="text" id="ton_update_edit" name="ton_update_edit"
                                    class="form-control w-full !rounded-md disabled:pointer-events-none" readonly />
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Bcm Update</label>
                                <input type="text" id="bcm_update_edit" name="bcm_update_edit"
                                    class="form-control w-full !rounded-md" />
                            </div>
                            <div class="xl:col-span-4 col-span-12">
                                <label class="form-label">Ton Update</label>
                                <input type="text" id="ton_update_edit" name="ton_update_edit"
                                    class="form-control w-full !rounded-md " />
                            </div>

                        </div>

                        <div class="mb-2 mt-2 flex flex-wrap items-left justify-end gap-2 lg:justify-end">
                            <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-light align-middle"
                                data-hs-overlay="#add-data">
                                Cancel
                            </button>
                            <button type="button" id="updateBtn"
                                class="ti-btn ti-btn-primary-full !py-1 !px-2 ti-btn-wave btn-sm">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- End::add task modal -->
<!-- Footer Start -->
{% include 'layout/footer.html' %}
<!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}

<script type="text/javascript">
    $(document).ready(function () {
        flatpickr("#start_date", {
            dateFormat: "Y-m-d",
        });

        flatpickr("#end_date", {
            dateFormat: "Y-m-d",
        });
        /*-- Pass Header Token ---*/
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });

        $(".ti-form-select").select2({
            width: '100%',
            dropdownParent: $('#add-data .ti-modal-body')
        });
        // When date filters change (start date or end date), reload both dropdowns
        $('#start_date, #end_date').change(function () {
            const startDate = $('#start_date').val();
            const endDate = $('#end_date').val();

            // If start or end date is not selected, do nothing
            if (!startDate || !endDate) {
                return;
            }

            // Load the category_mine dropdown
            loadCategoryDropdown(startDate, endDate);

            // Reset vendor dropdown because category is not yet selected
            $('#category').empty().append('<option value="">Select Category</option>');
            $('#vendors').empty().append('<option value="">Select Vendor</option>');
            $('#sources').empty().append('<option value="">Select Sources</option>');
            $('#loading_point').empty().append('<option value="">Select Loading</option>');
            $('#hauler_class').empty().append('<option value="">Select Hauler</option>');
            $('#material_table tbody').empty();
        });

        // When category_mine is selected, load the vendors dropdown
        $('#category').change(function () {
            const selectedCategory = $(this).val();
            const startDate = $('#start_date').val();
            const endDate = $('#end_date').val();
            // If category is selected, load vendors
            $('#vendors').empty().append('<option value="">Select Vendor</option>');
            $('#sources').empty().append('<option value="">Select Sources</option>');
            $('#loading_point').empty().append('<option value="">Select Loading</option>');
            $('#hauler_class').empty().append('<option value="">Select Hauler</option>');
            $('#material_table tbody').empty();
            if (selectedCategory) {
                loadVendorsDropdown(startDate, endDate, selectedCategory);
            }

        });

        $('#vendors').change(function () {
            const selectedVendors = $(this).val();
            const startDate = $('#start_date').val();
            const endDate = $('#end_date').val();
            const category = $('#category').val();
            // If category is selected, load sources
            $('#sources').empty().append('<option value="">Select Sources</option>');
            $('#loading_point').empty().append('<option value="">Select Loading</option>');
            $('#hauler_class').empty().append('<option value="">Select Hauler</option>');
            $('#material_table tbody').empty();
            if (selectedVendors) {
                loadSourcesDropdown(startDate, endDate, category, selectedVendors);
            }
        });

        $('#sources').change(function () {
            const selectedSources = $(this).val();
            const startDate = $('#start_date').val();
            const endDate = $('#end_date').val();
            const category = $('#category').val();
            const vendors = $('#vendors').val();
            // If sources is selected, load loading point
            $('#loading_point').empty().append('<option value="">Select Loading</option>');
            $('#hauler_class').empty().append('<option value="">Select Hauler</option>');
            $('#material_table tbody').empty();
            if (selectedSources) {
                loadLoadingDropdown(startDate, endDate, category, vendors, selectedSources);
            }
        });

        $('#loading_point').change(function () {
            const selectedLoading = $(this).val();
            const startDate = $('#start_date').val();
            const endDate = $('#end_date').val();
            const category = $('#category').val();
            const vendors = $('#vendors').val();
            const sources = $('#sources').val();
            // If loading is selected, load hauler
            $('#hauler_class').empty().append('<option value="">Select Hauler</option>');
            $('#nama_material').empty().append('<option value="">Select Material</option>');
            $('#material_table tbody').empty();
            if (selectedLoading) {
                loadHaulerDropdown(startDate, endDate, category, vendors, sources, selectedLoading);
            }
        });

        $('#hauler_class').change(function () {
            const selectedHauler = $(this).val();
            const startDate = $('#start_date').val();
            const endDate = $('#end_date').val();
            const category = $('#category').val();
            const vendors = $('#vendors').val();
            const sources = $('#sources').val();
            const loading_point = $('#loading_point').val();
            // If loading is selected, load hauler
            $('#nama_material').empty().append('<option value="">Select Material</option>');
            $('#material_table tbody').empty();
            if (selectedHauler) {
                loadMaterialDropdown(startDate, endDate, category, vendors, sources, loading_point, selectedHauler);
            }
        });


        // Function to load the 'category_mine' dropdown
        function loadCategoryDropdown(startDate, endDate) {
            $.ajax({
                url: "{% url 'get-truck-factors-category-mine' %}",
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                },
                success: function (response) {
                    const dropdown = $('#category');
                    dropdown.empty().append('<option value="">Select Category</option>'); // Clear and set default

                    if (response.list && response.list.length > 0) {
                        response.list.forEach(function (item) {
                            dropdown.append(new Option(item.category_mine, item.category_mine));
                        });
                    } else {
                        dropdown.append('<option value="">No data found</option>');
                    }
                },
                error: function () {
                    alert('Error loading categories');
                }
            });
        }

        // Function to load the 'vendors' dropdown based on selected category
        function loadVendorsDropdown(startDate, endDate, selectedCategory) {
            $.ajax({
                url: "{% url 'get-truck-factors-get-vendors-mine' %}",
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    category: selectedCategory,
                },
                success: function (response) {
                    const dropdown = $('#vendors');
                    dropdown.empty().append('<option value="">Select Vendor</option>'); // Clear and set default

                    if (response.list && response.list.length > 0) {
                        response.list.forEach(function (item) {
                            dropdown.append(new Option(item.vendors, item.vendors));
                        });
                    } else {
                        dropdown.append('<option value="">No data found</option>');
                    }
                },
                error: function () {
                    alert('Error loading vendors');
                }
            });
        }

        // Function to load the 'source' dropdown based on selected vendors
        function loadSourcesDropdown(startDate, endDate, category, selectedVendors) {
            $.ajax({
                url: "{% url 'get-truck-factors-get-sources-mine' %}",
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    category: category,
                    vendors: selectedVendors,
                },
                success: function (response) {
                    const dropdown = $('#sources');
                    dropdown.empty().append('<option value="">Select Sources</option>'); // Clear and set default

                    if (response.list && response.list.length > 0) {
                        response.list.forEach(function (item) {
                            dropdown.append(new Option(item.sources_area, item.id_source));
                        });
                    } else {
                        dropdown.append('<option value="">No data found</option>');
                    }
                },
                error: function () {
                    alert('Error loading vendors');
                }
            });
        }
        // Function to load the 'loading point' dropdown based on selected sources
        function loadLoadingDropdown(startDate, endDate, category, vendors, selectedSources) {
            $.ajax({
                url: "{% url 'get-truck-factors-get-loading-mine' %}",
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    category: category,
                    vendors: vendors,
                    sources: selectedSources,
                },
                success: function (response) {
                    const dropdown = $('#loading_point');
                    dropdown.empty().append('<option value="">Select Loading</option>'); // Clear and set default

                    if (response.list && response.list.length > 0) {
                        response.list.forEach(function (item) {
                            dropdown.append(new Option(item.loading_point, item.id_loading));
                        });
                    } else {
                        dropdown.append('<option value="">No data found</option>');
                    }
                },
                error: function () {
                    alert('Error loading vendors');
                }
            });
        }

        // Function to load the 'hauler class' dropdown based on selected loading point
        function loadHaulerDropdown(startDate, endDate, category, vendors, sources, selectedLoading) {
            $.ajax({
                url: "{% url 'get-truck-factors-get-hauler-mine' %}",
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    category: category,
                    vendors: vendors,
                    sources: sources,
                    loading_point: selectedLoading
                },
                success: function (response) {
                    const dropdown = $('#hauler_class');
                    dropdown.empty().append('<option value="">Select Hauler</option>'); // Clear and set default

                    if (response.list && response.list.length > 0) {
                        response.list.forEach(function (item) {
                            dropdown.append(new Option(item.hauler_class, item.hauler_class));
                        });
                    } else {
                        dropdown.append('<option value="">No data found</option>');
                    }
                },
                error: function () {
                    alert('Error loading hauler');
                }
            });
        }

        // Function to load the 'material' dropdown based on selected hauler class
        function loadMaterialDropdown(startDate, endDate, category, vendors, sources, loading_point, selectedHauler) {
            $.ajax({
                url: "{% url 'get-truck-factors-get-material-mine' %}",
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate,
                    category: category,
                    vendors: vendors,
                    sources: sources,
                    loading_point: loading_point,
                    hauler_class: selectedHauler
                },
                success: function (response) {
                    const dropdown = $('#nama_material');
                    dropdown.empty().append('<option value="">Select Material</option>'); // Clear and set default

                    if (response.list && response.list.length > 0) {
                        response.list.forEach(function (item) {
                            dropdown.append(new Option(item.nama_material, item.id_material));
                        });
                    } else {
                        dropdown.append('<option value="">No data found</option>');
                    }
                    // Kosongkan tabel sebelum mengisi data baru
                    const materialTableBody = $('#material_table tbody');
                    materialTableBody.empty();

                    // Loop data yang diterima untuk mengisi tabel
                    response.list.forEach(function (item) {
                        materialTableBody.append(`
                        <tr>
                            <td>${item.nama_material}</td>
                            <td>${item.bcm}</td>
                            <td>${item.tonnage}</td>
                            <td><input type="text" class="form-control edit-bcm" value="${item.bcm}"></td>
                            <td><input type="text" class="form-control edit-tonnage" value="${item.tonnage}"></td>
                        </tr>
                        `);
                    });
                },
                error: function () {
                    alert('Error loading material');
                }
            });
        }

        /*-- Render DataTable --*/
        let url = '{% url "mine-production-volume-adjustment-list" %}';
        var table = $('#data_table').DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": true,
            "ajax": {
                "url": url,
                "type": "POST",
                dataType: 'json',
                headers: {
                    'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                },
            },
            columns: [
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, // Kolom nomor otomatis
                {
                    data: 'date_start',
                    name: 'date_start'
                },
                {
                    data: 'date_end',
                    name: 'date_end'
                },
                {
                    data: 'category',
                    name: 'category'
                },
                {
                    data: 'vendors',
                    name: 'vendors'
                },
                {
                    data: 'sources_area',
                    name: 'sources_area'
                },
                {
                    data: 'loading_point',
                    name: 'loading_point'
                },
                {
                    data: 'type_truck',
                    name: 'type_truck'
                },

                {
                    data: 'material',
                    name: 'material'
                },
                {
                    data: 'bcm_original',
                    name: 'bcm_original'
                },
                {
                    data: 'ton_original',
                    name: 'ton_original'
                },
                {
                    data: 'bcm_updated',
                    name: 'bcm_updated'
                },
                {
                    data: 'ton_updated',
                    name: 'ton_updated'
                },
                {
                    data: 'status',
                    name: 'status'
                },

                {
                    'data': null,
                    'name': 'action',
                    'orderable': false,
                    'searchable': false,
                    'render': function (data, type, row) {
                        return `
                                    <div  class="flex gap-2 items-center" >
                                            <a href="javascript:void(0)" data-toggle="tooltip" data-id='${row.id}' class="hover:text-info editData">
                                               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-primary">
                                                 <circle opacity="0.5" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"></circle>
                                                  <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                               </svg>
                                            </a>
                                             <a href="javascript:void(0)" data-toggle="tooltip" data-id='${row.id}' class="hover:text-danger deleteData">
                                               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-danger">
                                                <circle opacity="0.5" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"></circle>
                                                <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                                </svg>
                                            </a>
                                        </div>
                                    `;
                    }
                }

            ],
            // Mengatur default sort pada kolom secara desc
            // order: [
            //     [1, 'desc']
            // ],

        });

        /*--- Click New to Button ---*/
        $('#addNew').click(function () {
            // Reset 
            $('#start_date').val('');
            $('#end_date').val('');
            $('#category').empty().append('<option value="">Select Category</option>');
            $('#vendors').empty().append('<option value="">Select Vendor</option>');
            $('#sources').empty().append('<option value="">Select Sources</option>');
            $('#loading_point').empty().append('<option value="">Select Loading</option>');
            $('#hauler_class').empty().append('<option value="">Select Hauler</option>');
            $('#material_table tbody').empty();
            window.HSOverlay.open('#add-data');
        });

        /*--- Create ---*/
        $('#saveBtn').on('click', function () {
            const materials = [];
            $('#material_table tbody tr').each(function () {
                const material = {
                    // id_material: $(this).find('td:eq(0)').data('id'), // Gunakan data ID material jika tersedia
                    nama_material: $(this).find('td:eq(0)').text(),
                    bcm_original: parseFloat($(this).find('td:eq(1)').text()) || 0,
                    ton_original: parseFloat($(this).find('td:eq(2)').text()) || 0,
                    bcm_updated: parseFloat($(this).find('td:eq(3) input').val()) || 0,
                    ton_updated: parseFloat($(this).find('td:eq(4) input').val()) || 0
                };
                materials.push(material);
            });

            const payload = {
                date_start: $('#start_date').val(),
                date_end: $('#end_date').val(),
                category: $('#category').val(),
                vendors: $('#vendors').val(),
                sources: $('#sources').val(),
                loading_point: $('#loading_point').val(),
                hauler_class: $('#hauler_class').val(),
                materials: materials
            };

            $.ajax({
                url: '{% url "mine-production-volume-adjustment-create" %}',
                type: 'POST',
                data: JSON.stringify(payload),
                contentType: 'application/json',
                success: function (response) {
                    if (response.success) {
                        const toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 2000,
                            padding: '2em',
                        });
                        toast.fire({
                            icon: 'success',
                            html: 'Data berhasil disimpan!',
                            padding: '2em',
                        });
                        $('#data_table').DataTable().clear().draw();
                        $('#material_table tbody').empty();
                    } else {
                        const toast = Swal.mixin({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 2000,
                            padding: '2em',
                        });
                        toast.fire({
                            icon: 'error',
                            html: response.error || 'Gagal menyimpan data',
                            padding: '2em',
                        });
                    }
                },
                error: function (xhr) {
                    const toast = Swal.mixin({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 2000,
                        padding: '2em',
                    });

                    // Periksa respons JSON dan tampilkan error
                    const errorMessage = xhr.responseJSON?.error || xhr.responseJSON?.message || 'Terjadi kesalahan';
                    toast.fire({
                        icon: 'error',
                        html: errorMessage,
                        padding: '2em',
                    });
                },
            });
        });

        /*--- Update---*/
        $('#updateBtn').click(function (e) {
            e.preventDefault();
            var id = $('#id').val();
            var url = '/sqms_apps/mining/mine-production/volume-adjustment/update/' + id + '/';
            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                headers: {
                    'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                },
                data: {
                    date_start: $('#date_start_edit').val(),
                    date_end: $('#date_end_edit').val(),
                    category: $('#category_edit').val(),
                    vendors: $('#vendors_edit').val(),
                    sources: $('#sources_edit').val(),
                    loading_point: $('#loading_edit').val(),
                    material: $('#material_edit').val(),
                    type_truck: $('#truck_edit').val(),
                    bcm_original: $('#bcm_ori_edit').val(),
                    ton_original: $('#ton_ori_edit').val(),
                    // bcm_updated: $('#bcm_update_edit').val(),
                    // ton_updated: $('#ton_update_edit').val(),
                },

                success: function (response) {
                    if (response.success) {
                        const toast = window.Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 2000,
                            padding: '2em',
                        });
                        toast.fire({
                            icon: 'success',
                            // title: 'Insert successfully',
                            html: response.message,
                            padding: '2em',
                        });

                        // Membersihkan formulir setelah sukses input
                        $('#date_start_edit').val('');
                        $('#date_end_edit').val('');
                        $('#category_edit').val('');
                        $('#vendors_edit').val('');
                        $('#sources_edit').val('');
                        $('#loading_edit').val('');
                        $('#material_edit').val('');
                        $('#truck_edit').val('');
                        $('#bcm_ori_edit').val('');
                        $('#ton_ori_edit').val('');
                        $('#bcm_update_edit').val('');
                        $('#ton_update_edit').val('');
                        toggleModal('editModal');
                        // Reload Table
                        $('#data_table').DataTable().clear().draw();
                    } else {
                        // Handle kesalahan validasi atau kesalahan lainnya
                        alert('Terjadi kesalahan: ' + response.messages);
                    }
                },
                error: function (xhr, status, errorThrown, error) {
                    if (xhr.status === 400) {
                        const toast = window.Swal.mixin({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 2000,
                            padding: '2em',
                        });
                        toast.fire({
                            icon: 'error',
                            html: xhr.responseJSON.error,
                            padding: '2em',
                        });
                    }
                    else if (xhr.status === 422) {
                        const toast = window.Swal.mixin({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 2000,
                            padding: '2em',
                        });
                        toast.fire({
                            icon: 'error',
                            html: xhr.responseJSON.message,
                            padding: '2em',
                        });
                    }
                    else {
                        const toast = window.Swal.mixin({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 2000,
                            padding: '2em',
                        });
                        toast.fire({
                            icon: 'error',
                            // title: 'Update successfully',
                            html: xhr.responseJSON.message,
                            padding: '2em',
                        });
                    }
                }
            });
        });

        /*--- Delete ---*/
        $('#data_table').on('click', '.deleteData', function () {
            var id = $(this).data('id');
            var url = '{% url "mine-production-volume-adjustment-delete" %}?id=' + id;
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'btn btn-success',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete it!',
                // width: 320,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        dataType: 'json',
                        data: {
                            id: id,
                        },
                        success: function (data) {
                            table.draw();

                        },
                        error: function (data) {
                            console.log('Error:', data);
                        }
                    });
                    Swal.fire({
                        title: 'Deleted!',
                        text: 'Your file has been deleted.',
                        icon: 'success',
                        // width: 320,
                    })
                }
            })
        });
    });
</script>

<!-- Call for Edit Data  -->
<script>
    $('body').on('click', '.editData', function () {
        var id = $(this).data('id');
        var url = '{% url "mine-production-volume-adjustment-get" %}';
        $.ajax({
            type: "GET",
            url: url,
            data: {
                id: id,
            },
            dataType: "json",
            success: function (response) {
                if (response) {
                    // Mengisi formulir dengan data yang diterima
                    window.HSOverlay.open('#edit-data');
                    $('#id').val(response.id);
                    $('#date_start_edit').val(response.date_start);
                    $('#date_end_edit').val(response.date_end);
                    $('#category_edit').val(response.category);
                    $('#vendors_edit').val(response.vendors);
                    // $('#sources_edit').val(response.sources).trigger('change');
                    // $('#loading_edit').val(response.loading_point);
                    // $('#material_edit').val(response.material);
                    $('#truck_edit').val(response.type_truck);
                    $('#bcm_ori_edit').val(response.bcm_original);
                    $('#ton_ori_edit').val(response.ton_original);
                    $('#bcm_update_edit').val(response.bcm_updated);
                    $('#ton_update_edit').val(response.ton_updated);
                    $('#sources_edit').val(response.sources).trigger('change');
                    var newSource = new Option(response.sources, response.sources_id, true, true);
                    $('#sources_edit').append(newSource).trigger('change');

                    $('#loading_edit').val(response.loading_id).trigger('change');
                    var newLoading = new Option(response.loading_point, response.loading_id, true, true);
                    $('#loading_edit').append(newLoading).trigger('change');

                    $('#material_edit').val(response.material).trigger('change');
                    var newMaterial = new Option(response.material, response.material_id, true, true);
                    $('#material_edit').append(newMaterial).trigger('change');
                } else {
                    alert(
                        'Data tidak ditemukan'
                    ); // Atau tindakan lain jika data tidak ditemukan
                }
            },
            error: function (xhr, status, error) {
                alert('Terjadi kesalahan: ' + error); // Handle kesalahan AJAX
            }
        });
    });
</script>
</body>

</html>


<style>
    .select-wrapper {
        position: relative;
    }

    .select2-container,
    .select2-dropdown {
        z-index: 9999 !important;
    }

    .select2-container--open {
        z-index: 9999 !important;
    }

    .ti-modal-body {
        position: relative;
        z-index: 9999;
        overflow: visible;
    }
</style>