{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div>
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->
    <div class="content">
        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                    </h3>
                </div>
                </ol>
            </div>
            <!-- Page Header Close -->

            <div class="container">
                <!-- Start::row-1 -->
                <div class="grid grid-cols-12 gap-4 mx-auto">
                    <!-- Semua item ditaruh langsung di dalam grid -->
                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'ore-class-page' %}">
                                    <div class="flex items-start flex-wrap">
                                         <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-primary/50 shadow-sm">
                                                <i class="ri-file-info-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Ore Class</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Konfigurasi data ore class
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'ore-factors-page' %}">
                                    <div class="flex items-start flex-wrap">
                                         <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-primary/50 shadow-sm">
                                                <i class="ri-file-info-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Truck factors</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Konfigurasi truck factors
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'ore-adjustment-page' %}">
                                    <div class="flex items-start flex-wrap">
                                         <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-primary/50 shadow-sm">
                                                <i class="ri-guide-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Ore Adjustment</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Konfigurasi ore adjustment
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'dome-close-status-page' %}">
                                    <div class="flex items-start flex-wrap">
                                         <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-primary/50 shadow-sm">
                                                <i class="ri-guide-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Dome Close</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Konfigurasi close dome</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'dome-finish-status-page' %}">
                                    <div class="flex items-start flex-wrap">
                                        <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-primary/50 shadow-sm">
                                                <i class="ri-guide-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Dome Finished</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Konfigurasi selling dome
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'merge-dome-page' %}">
                                    <div class="flex items-start flex-wrap">
                                        <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-primary/50 shadow-sm">
                                                <i class="ri-git-merge-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Merge Dome</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Konfigurasi merge dome</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 lg:col-span-3">
                        <div class="box un-read">
                            <div class="box-body p-4">
                                <a href="{% url 'merge-stockpile-page' %}">
                                    <div class="flex items-start flex-wrap">
                                        <div class="me-3 leading-none">
                                            <span class="avatar avatar-md !rounded-full bg-primary/50 shadow-sm">
                                                <i class="ri-git-merge-line text-[1.125rem] text-white"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow">
                                            <p class="mb-0 text-[.875rem] font-semibold">Merge Stockpile</p>
                                            <p class="mb-0 text-[#8c9097] dark:text-white/50">Konfigurasi merge
                                                stockpile</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Item baru tinggal tambah div dengan col-span yang sama -->

                    <div class="col-span-12 text-center mt-4">
                        <button type="button" class="ti-btn ti-btn-info ti-btn-loader">
                            Loading
                            <span class="ti-spinner h-4 w-4" role="status"></span>
                        </button>
                    </div>
                </div>


                <!--End::row-1 -->
            </div>

        </div>
        <!-- Start::main-content -->
    </div>


</div>
<!-- End::add task modal -->

<!-- Footer Start -->
{% include 'layout/footer.html' %}
<!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}


</body>

</html>