{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<!-- <div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div> -->
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->


    <div class="content">

        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        Inventory</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-[0.813rem] ps-[0.5rem]">
                        <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                            href="javascript:void(0);">
                            Tables
                            <i
                                class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 "
                        aria-current="page">
                        Stockpile
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->


            <!-- Start::row-1 -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">Inventory by Stockpile</h5>
                        </div>
                        <div class="box-body">
                            <div class="flex justify-end mb-2">
                                <div class="ti-btn-list space-x-1 rtl:space-x-reverse">
                                    <button id="exportFilter" type="button"
                                        class="ti-btn ti-btn-success-full !py-1 !px-2 ti-btn-wave">Export</button>
                                    <button id="openFilter" type="button"
                                        class="ti-btn ti-btn-primary-full !py-1 !px-2 ti-btn-wave">Filter</button>
                                    <a id="reload" href="#"
                                        class="ti-btn ti-btn-warning-full !py-1 !px-2 ti-btn-wave">Reload</a>
                                </div>
                            </div>
                            <div class="overflow-auto">
                                <div class="table-responsive">

                                    <table id="list-table"
                                        class="table whitespace-nowrap mb-0 ti-striped-table table-hover min-w-full ti-custom-table-hover fixed_header">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width:4%">No</th>
                                                <th scope="col" style="width: 110px">Stockpile</th>
                                                <th scope="col">Material</th>
                                                <th scope="col">Stock Ore</th>
                                                <th scope="col">Released</th>
                                                <th scope="col">Selling</th>
                                                <th scope="col">Balance</th>
                                                <th scope="col">Perc.</th>
                                                <th scope="col">Ni</th>
                                                <th scope="col">Co</th>
                                                <th scope="col">Al2O3</th>
                                                <th scope="col">CaO</th>
                                                <th scope="col">Cr2O3</th>
                                                <th scope="col">Fe</th>
                                                <th scope="col">MgO</th>
                                                <th scope="col">SiO2</th>
                                                <th scope="col">Sm</th>
                                                <th scope="col">Mc</th>
                                                <th scope="col">Class</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Grand Total</th>
                                                <th>-</th>
                                                <th>-</th>
                                                <th id="grand-total-ore">-</th>
                                                <th id="grand-total-released">-</th>
                                                <th id="grand-total-selling">-</th>
                                                <th id="grand-total-balance">-</th>
                                                <th id="grand-total-percentage">-</th>
                                                <th id="grand-sum-ni">-</th>
                                                <th id="grand-sum-co">-</th>
                                                <th id="grand-sum-al2o3">-</th>
                                                <th id="grand-sum-cao">-</th>
                                                <th id="grand-sum-cr2o3">-</th>
                                                <th id="grand-sum-fe">-</th>
                                                <th id="grand-sum-mgo">-</th>
                                                <th id="grand-sum-sio2">-</th>
                                                <th id="grand-sum-sm">-</th>
                                                <th id="grand-sum-mc">-</th>
                                                <th id="">-</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End::row-1 -->

        </div>
        <!-- Start::main-content -->

    </div>

    <!-- ========== Search Modal ========== -->
    <div id="search-modal" class="hs-overlay ti-modal hidden mt-[1.75rem]" aria-overlay="true" tabindex="-1">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"
                        id="mail-ComposeLabel"></h6>
                    <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold"
                        data-hs-overlay="#search-modal">
                        <span class="sr-only">Close</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <form>
                    <div class="ti-modal-body px-4 !overflow-visible">
                        <div class="grid grid-cols-12 gap-6 px-4 ">
                            <div class="xl:col-span-12 col-span-12">
                                <label class="form-label">Materials</label>
                                <select id="saleFilter" name="saleFilter" class="form-control w-full !rounded-md">
                                    <option value="">-- Select --</option>
                                    <option value="HPAL">Limonite</option>
                                    <option value="RKEF">Saprolite</option>
                                </select>
                            </div>
                            <div class="xl:col-span-12 col-span-12">
                                <label class="form-label">Stockpile</label>
                                <select id="areaFilter" name="areaFilter" class="form-control w-full !rounded-md"
                                    multiple="multiple">
                                    <option value="">--- Select ---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ti-modal-footer">
                        <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-success align-middle"
                            id="exportButton"> Export
                        </button>
                        <button type="button" id="applyFilterBtn"
                            class="ti-btn bg-primary text-white !font-medium">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- End::add task modal -->
    <!-- Footer Start -->
    {% include 'layout/footer.html' %}
    <!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}

<!-- Scripts -->
<script type="text/javascript">
    $(document).ready(function () {
        /*--- Pass Header Token ---*/
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });

        let isLoading = false; // Flag untuk menandakan apakah data sedang dimuat
        // Inisialisasi
        var grandTotalOre = 0;
        var grandTotalRelease = 0;
        var grandTotalSelling = 0;
        var grandTotalBalance = 0;
        var sumNi = 0;
        var sumCo = 0;
        var sumAl2O3 = 0;
        var sumCao = 0;
        var sumCr2O3 = 0;
        var sumFe = 0;
        var sumMgo = 0;
        var sumSiO2 = 0;
        var sumMC = 0;
        var sumSM = 0;
        var data_Ni = [];
        var data_Co = [];
        var data_Al2O3 = [];
        var data_CaO = [];
        var data_Cr2O3 = [];
        var data_Fe = [];
        var data_Mgo = [];
        var data_SiO2 = [];
        var data_MC = [];
        var data_SM = [];
        var rowCount = 0; // Jumlah baris
        var table = $("#list-table").find("tbody");
        var loading = false; // Status loading
        var page = 1; // Halaman saat ini
        var loadingComplete = false; // Menandakan semua data telah dimuat


        // Bersihkan isi tabel sebelum menambahkan data baru
        table.empty();

        // Fungsi untuk menambahkan data ke tabel
        function appendDataToTable(data) {
            // Reset grand total ke nol
            grandTotalOre = 0;
            grandTotalRelease = 0;
            grandTotalSelling = 0;
            grandTotalBalance = 0;
            sumNi = 0;
            sumCo = 0;
            sumAl2O3 = 0;
            sumCao = 0;
            sumCr2O3 = 0;
            sumFe = 0;
            sumMgo = 0;
            sumSiO2 = 0;
            sumMC = 0;
            sumSM = 0;

            // Loop melalui data dan tambahkan ke tabel
            $.each(data, function (index, row) {
                var newRow = $("<tr>");
                newRow.append("<td>" + (rowCount + index + 1) + "</td>"); // Menambahkan nomor urut yang benar
                newRow.append("<td>" + row.stockpile + "</td>");
                newRow.append("<td>" + row.nama_material + "</td>");
                newRow.append("<td>" + parseFloat(row.total_ore).toLocaleString('en-US', { maximumFractionDigits: 0 }) + "</td>");
                newRow.append("<td>" + parseFloat(row.released).toLocaleString('en-US', { maximumFractionDigits: 0 }) + "</td>");
                newRow.append("<td>" + parseFloat(row.total_selling).toLocaleString('en-US', { maximumFractionDigits: 0 }) + "</td>");
                newRow.append("<td>" + parseFloat(row.balance).toLocaleString('en-US', { maximumFractionDigits: 0 }) + "</td>");
                // Hitung persentase (percentage)
                var percentage = (row.total_selling / row.total_ore) * 100;
                var badgeClass = '';

                if (percentage >= 90 && percentage < 120) {
                    badgeClass = 'badge-soft-success text-success';
                } else if (percentage >= 120) {
                    badgeClass = 'badge-soft-danger text-danger';
                }
                else {
                    badgeClass = 'badge-soft-warning text-warning';
                }

                // Membuat string HTML untuk badge dengan kelas yang sesuai
                var badgeHTML = "<div class='badge " + badgeClass + " font-size-12'>" + percentage.toFixed(0) + "%</div>";

                // Menambahkan badgeHTML ke dalam elemen newRow
                newRow.append("<td class='text-center whitespace-nowrap'>" + badgeHTML + "</td>");

                newRow.append("<td>" + row.ni + "</td>");
                newRow.append("<td>" + row.co + "</td>");
                newRow.append("<td>" + row.al2o3 + "</td>")
                newRow.append("<td>" + row.cao + "</td>")
                newRow.append("<td>" + row.cr2o3 + "</td>")
                newRow.append("<td>" + row.fe + "</td>")
                newRow.append("<td>" + row.mgo + "</td>")
                newRow.append("<td>" + row.sio2 + "</td>")
                newRow.append("<td>" + parseFloat(row.sm).toLocaleString('en-US', { maximumFractionDigits: 2 }) + "</td>");
                newRow.append("<td>" + row.mc + "</td>")

                // Kolom "grade" berdasarkan kondisi Ni dan Mgo
                var grade = "NULL";
                if (row.ni >= 1.6 && row.mgo >= 7.0 && row.fe <= 27.0) {
                    grade = "HGS";
                } else if (row.ni >= 1.2 && row.ni < 1.6 && row.mgo >= 7.0 && row.fe <= 27.0) {
                    grade = "MGS";
                } else if (row.ni < 1.2 && row.mgo >= 7.0 && row.mgo <= 20.0 && row.fe <= 27.0) {
                    grade = "LGS";
                } else if (row.ni >= 1.1 && row.mgo < 7.0 && row.fe >= 27.0) {
                    grade = "HGL";
                } else if (row.ni < 1.1 && row.mgo < 7.0 && row.fe >= 27.0) {
                    grade = "LGL";
                } else if (row.ni < 0.9 && row.mgo < 7.0 && row.fe < 27.0) {
                    grade = "OB";
                } else if (row.ni < 1.2 && row.mgo > 20.0 && row.fe >= 27.0) {
                    grade = "Waste";
                } else {
                    grade = "???";
                }

                // Tambahkan elemen <td> dengan kelas CSS yang sesuai
                newRow.append("<td>" + grade + "</td>");

                // Akumulasi ke grand total
                grandTotalOre += parseFloat(row.total_ore);
                grandTotalRelease += parseFloat(row.released);
                grandTotalSelling += parseFloat(row.total_selling);
                grandTotalBalance += parseFloat(row.balance);

                // Hitung SUM Product
                data_Ni.push(row.released * row.ni);
                data_Co.push(row.released * row.co);
                data_Al2O3.push(row.released * row.al2o3);
                data_CaO.push(row.released * row.cao);
                data_Cr2O3.push(row.released * row.cr2o3);
                data_Fe.push(row.released * row.fe);
                data_Mgo.push(row.released * row.mgo);
                data_SiO2.push(row.released * row.sio2);
                data_MC.push(row.released * row.mc);
                data_SM.push(row.released * row.sm);

                // Tambahkan baris ke tabel
                table.append(newRow);
            });

            // Set grand total di bawah footer tabel
            $("#grand-total-ore").text(grandTotalOre.toLocaleString('en-US', { maximumFractionDigits: 0 }));
            $("#grand-total-released").text(grandTotalRelease.toLocaleString('en-US', { maximumFractionDigits: 0 }));
            $("#grand-total-selling").text(grandTotalSelling.toLocaleString('en-US', { maximumFractionDigits: 0 }));
            $("#grand-total-balance").text(grandTotalBalance.toLocaleString('en-US', { maximumFractionDigits: 0 }));


            // Update rowCount
            rowCount += data.length;

            // Menghitung rentang yang ditampilkan
            var startEntry = rowCount - data.length + 1; // Menghitung entri awal
            var endEntry = rowCount; // Menghitung entri akhir

            // Update informasi di bawah tabel
            $('#entry-info').text(`Showing ${startEntry} to ${endEntry} entries`);


            // Proses SUM Product Grade
            var sumProduct = function (dataArray) {
                return dataArray.reduce((sum, value) => sum + value, 0);
            };

            // Bagi dengan total released
            var sumResults = [
                { id: "grand-sum-ni", value: (sumProduct(data_Ni) / grandTotalRelease) || 0 },
                { id: "grand-sum-co", value: (sumProduct(data_Co) / grandTotalRelease) || 0 },
                { id: "grand-sum-al2o3", value: (sumProduct(data_Al2O3) / grandTotalRelease) || 0 },
                { id: "grand-sum-cao", value: (sumProduct(data_CaO) / grandTotalRelease) || 0 },
                { id: "grand-sum-cr2o3", value: (sumProduct(data_Cr2O3) / grandTotalRelease) || 0 },
                { id: "grand-sum-fe", value: (sumProduct(data_Fe) / grandTotalRelease) || 0 },
                { id: "grand-sum-mgo", value: (sumProduct(data_Mgo) / grandTotalRelease) || 0 },
                { id: "grand-sum-sio2", value: (sumProduct(data_SiO2) / grandTotalRelease) || 0 },
                { id: "grand-sum-mc", value: (sumProduct(data_MC) / grandTotalRelease) || 0 }
            ];

            sumResults.forEach(result => {
                $("#" + result.id).text(result.value.toLocaleString('en-US', { maximumFractionDigits: 2 }));
            });

            loading = false; // Set status loading ke false
        }


        // Panggil fetchData saat halaman dimuat untuk pertama kalinya
        var saleFilter = $('#saleFilter').val();
        var areaFilter = $('#areaFilter').val();;

        var filter_data = {
            saleFilter: saleFilter,
            areaFilter: areaFilter,
        };

        fetchData(filter_data);

        // Fungsi untuk mengambil data dari server
        function fetchData(filter_data) {
            if (loading || loadingComplete) return; // Jika sedang loading atau semua data telah dimuat
            loading = true; // Set status loading ke true
            // Tampilkan loader hanya jika ini adalah pemanggilan awal
            if (page === 1) {
                $('#loader').show(); // Tampilkan loader
                $('#table-header').hide(); // Sembunyikan header tabel
            }
            $.ajax({
                type: "GET",
                url: "{% url 'get-stockpile-all' %}?page=" + page,
                data: filter_data,
                dataType: 'json',
                success: function (response) {
                    var sqlData = response.data;
                    // console.log("Current Page:", page);
                    // console.log("SQL Data Length:", sqlData.length);
                    $('#loader').hide(); // Sembunyikan loader setelah mendapatkan respon
                    if (sqlData.length < 1) {
                        loadingComplete = true; // Menandakan tidak ada data lagi
                    }
                    appendDataToTable(sqlData);
                    page++; // Naikkan halaman untuk permintaan berikutnya
                },
                error: function () {
                    $('#loader').hide(); // Sembunyikan loader setelah mendapatkan respon
                    console.log("Gagal mengambil data dari server.");
                    loading = false; // Set status loading ke false meskipun terjadi kesalahan
                },
                complete: function () {
                    loading = false; // Pastikan untuk set loading ke false setelah selesai
                    $('#loader').hide(); // Sembunyikan loader
                    $('#table-header').show(); // Tampilkan kembali header tabel
                }
            });
        }

        $(".table-scrollable").on("scroll", function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight - 100) {
                // Ambil kembali nilai filter terbaru
                var filter_data = {
                    saleFilter: $('#saleFilter').val(),
                    areaFilter: JSON.stringify($('#areaFilter').val()), // Convert to JSON string
                };

                fetchData(filter_data); // Ambil data lebih lanjut dengan filter terbaru
            }
        });

        $('#applyFilterBtn').click(function () {
            // // Ambil nilai filter dan set halaman ke 1
            page = 1; // Reset halaman ke 1
            loadingComplete = false; // 🔥 Reset agar fetchData mau jalan lagi
            // Bersihkan tabel sebelum memuat data baru
            var table = $("#list-table").find("tbody");
            table.empty();
            // Reset rowCount untuk memulai dari 0
            rowCount = 0;
            // Reset array
            data_Ni = [];
            data_Co = [];
            data_Al2O3 = [];
            data_CaO = [];
            data_Cr2O3 = [];
            data_Fe = [];
            data_Mgo = [];
            data_SiO2 = [];
            data_MC = [];

            // Reset total
            resetGrandTotals();

            // Ambil nilai dari elemen input
            var filter_data = {
                saleFilter: $('#saleFilter').val(),
                areaFilter: JSON.stringify($('#areaFilter').val()),
            };
            // Mulai memuat data baru berdasarkan filter
            isLoading = true; // Set flag loading
            // Debugging: Tampilkan nilai filter

            fetchData(filter_data)

            window.HSOverlay.close('#search-modal');

        });

        $('#reload').click(function () {
            // Tampilkan loader dan sembunyikan header tabel
            $('#loader').show(); // Tampilkan loader
            $('#table-header').hide(); // Sembunyikan header tabe
            page = 1; // Reset halaman ke 1
            // Bersihkan tabel
            var table = $("#list-table").find("tbody");
            table.empty(); // Menghapus semua baris di tbody

            // Reset rowCount untuk memulai dari 0
            rowCount = 0;
            // Reset array
            data_Ni = [];
            data_Co = [];
            data_Al2O3 = [];
            data_CaO = [];
            data_Cr2O3 = [];
            data_Fe = [];
            data_Mgo = [];
            data_SiO2 = [];
            data_MC = [];
            // Reset total
            resetGrandTotals();
            // Reset filter values
            resetFilterValues();

            loadingComplete = false; // Reset loadingComplete
            isLoading = true; // Set flag loading
            // Ambil nilai dari elemen input
            var filter_data = {
                saleFilter: $('#saleFilter').val(),
                areaFilter: $('#areaFilter').val(),
            };

            fetchData(filter_data)

        });

    });

    // Fungsi untuk reset nilai total
    function resetGrandTotals() {
        $("#grand-total-ore").text('-');
        $("#grand-total-released").text('-');
        $("#grand-total-balance").text('-');
        $("#grand-total-percentage").text('-');
        $("#grand-total-selling").text('-');
        $("#grand-sum-ni").text('-');
        $("#grand-sum-co").text('-');
        $("#grand-sum-al2o3").text('-');
        $("#grand-sum-cao").text('-');
        $("#grand-sum-cr2o3").text('-');
        $("#grand-sum-fe").text('-');
        $("#grand-sum-mgo").text('-');
        $("#grand-sum-sio2").text('-');
        $("#grand-sum-sm").text('-');
        $("#grand-sum-mc").text('-');
    }

    // Fungsi untuk reset nilai filter
    function resetFilterValues() {
        $('#saleFilter').val('')
        $('#areaFilter').val('').trigger('change');
    }
</script>

<!-- Open Filter Modal -->
<script>
    $(document).ready(function () {
        /*---  Filter Modal and Apply Filter  ----*/
        $('#openFilter').click(function () {
            window.HSOverlay.open('#search-modal');
            $("#saleFilter").select2({
                width: '100%',
            });

        });

        $.ajax({
            url: "{% url 'get-year-ore' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '';

                $.each(data.tahun_pds, function (key, value) {
                    options += '<option value="' + value.tahun + '">' + value
                        .tahun +
                        '</option>';
                });
                $('#tahunFilter').append(options);
            }
        });

        $.ajax({
            url: "{% url 'material-dropdown' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '';
                $.each(data.materials, function (key, value) {
                    options += '<option value="' + value.nama_material + '">' + value
                        .nama_material +
                        '</option>';
                });

                $('#materialFilter').append(options);
            }
        });

        $('#areaFilter').select2({
            ajax: {
                url: "{% url 'get-mine-dumping-point' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select stockpile',
            allowClear: true,
        });

    });
</script>

</body>

</html>


<style>
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    .table-scrollable {
        max-height: 655px;
        /* Setel tinggi maksimum */
        overflow-y: auto;
        /* Enable vertical scrolling */
        overflow-x: auto;
        /* Disable horizontal scrolling jika tidak diperlukan */
    }

    table {
        text-align: left;
        position: relative;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 0.25rem;
    }

    th {
        background: rgb(246 248 250);
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }

    /* Mode gelap */
    .dark th {
        background: #1f2937;
        /* abu-abu gelap */
        box-shadow: 0 2px 2px -1px rgba(255, 255, 255, 0.2);
        /* bayangan putih samar */
        color: #f9fafb;
        /* teks jadi terang */
    }

    #loader {
        display: none;
        /* Mulai sembunyikan loader */
        text-align: center;
        position: relative;
        /* Atur posisi relative untuk pengaturan lebih lanjut */
        padding: 20px;
    }
</style>