{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<!-- <div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div> -->
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->


    <div class="content">

        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        Achievement</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-[0.813rem] ps-[0.5rem]">
                        <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                            href="javascript:void(0);">
                            Tables
                            <i
                                class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 "
                        aria-current="page">
                        roa
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->


            <!-- Start::row-1 -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">Source to stockpile {roa}</h5>
                        </div>
                        <div class="box-body">
                            <div class="flex justify-end mb-2">
                                <div class="ti-btn-list space-x-1 rtl:space-x-reverse">
                                    <button id="exportFilter" type="button"
                                        class="ti-btn ti-btn-success-full !py-1 !px-2 ti-btn-wave">Export</button>
                                    <button id="openFilter" type="button"
                                        class="ti-btn ti-btn-primary-full !py-1 !px-2 ti-btn-wave">Filter</button>
                                    <a id="reload" href="#"
                                        class="ti-btn ti-btn-warning-full !py-1 !px-2 ti-btn-wave">Reload</a>
                                </div>
                            </div>
                            <div class="overflow-auto">
                                <div class="table-responsive">

                                    <table id="list-table"
                                        class="table whitespace-nowrap mb-0 ti-striped-table table-hover min-w-full ti-custom-table-hover fixed_header">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width:4%">No</th>
                                                <th scope="col" style="width: 85px">Source</th>
                                                <th scope="col" style="width: 85px">Stockpile</th>
                                                <th scope="col">Material</th>
                                                <th scope="col">Total Ore</th>
                                                <th scope="col">Incomplete</th>
                                                <th scope="col">Unprepared</th>
                                                <th scope="col">UnRelease</th>
                                                <th scope="col">Release</th>
                                                <th scope="col">Ni</th>
                                                <th scope="col">Co</th>
                                                <th scope="col">Al2O3</th>
                                                <th scope="col">CaO</th>
                                                <th scope="col">Cr2O3</th>
                                                <th scope="col">Fe</th>
                                                <th scope="col">MgO</th>
                                                <th scope="col">SiO2</th>
                                                <th scope="col">Sm</th>
                                                <th scope="col">Mc</th>
                                                <th scope="col">Class</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Total</th>
                                                <th>-</th>
                                                <th>-</th>
                                                <th>-</th>
                                                <th id="grand-total-ore">-</th>
                                                <th id="grand-total-incomplete">-</th>
                                                <th id="grand-total-unprepared">-</th>
                                                <th id="grand-total-unreleased">-</th>
                                                <th id="grand-total-released">-</th>
                                                <th id="grand-sum-ni">-</th>
                                                <th id="grand-sum-co">-</th>
                                                <th id="grand-sum-al2o3">-</th>
                                                <th id="grand-sum-cao">-</th>
                                                <th id="grand-sum-cr2o3">-</th>
                                                <th id="grand-sum-fe">-</th>
                                                <th id="grand-sum-mgo">-</th>
                                                <th id="grand-sum-sio2">-</th>
                                                <th id="grand-sum-sm">-</th>
                                                <th id="grand-sum-mc">-</th>
                                                <th id="">-</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End::row-1 -->

        </div>
        <!-- Start::main-content -->

    </div>

    <!-- ========== Search Modal ========== -->
    <!-- ========== Search Modal ========== -->
     <div id="search-modal" class="hs-overlay ti-modal hidden mt-[1.75rem]" aria-overlay="true" tabindex="-1">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"
                        id="mail-ComposeLabel"></h6>
                    <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold"
                        data-hs-overlay="#search-modal">
                        <span class="sr-only">Close</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <form>
                    <div class="ti-modal-body px-4 !overflow-visible">
                        <div class="grid grid-cols-12 gap-6 px-4">
                            <div class="xl:col-span-12 col-span-12" id="form-pilih">
                                <!-- <label for="">*</label> -->
                                <select name="filter" class="ti-form-select rounded-sm !py-2 !px-3t" id="filter">
                                    <option value="">-- Select -- </option>
                                    <option value="1">By Range</option>
                                    <option value="2">By Month</option>
                                    <option value="3">By Year</option>
                                    <option value="4">Cut Date</option>
                                    <option value="5">Get All</option>
                                </select>
                            </div>

                            <div class="xl:col-span-12 col-span-12" id="form-material">
                                <label class="form-label">Material</label>
                                <select id="materialFilter" name="materialFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">-- Select -- </option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12" id="form-tanggal-awal">
                                <label class="form-label">Start date</label>
                                <input type="date" class="form-control w-full !rounded-md" value="{{start_date}}"
                                    id="startDate" name="startDate">
                            </div>
                            <div class="xl:col-span-6 col-span-12" id="form-tanggal-akhir">
                                <label class="form-label">End date</label>
                                <input type="date" class="form-control w-full !rounded-md" value="{{end_date}}"
                                    id="endDate" name="endDate">
                            </div>
                            <div class="xl:col-span-6 col-span-12" id="form-tanggal-cut">
                                <label class="form-label">Cut Of Date</label>
                                <input type="date" class="form-control w-full !rounded-md" value="{{end_date}}"
                                    id="cutDate" name="cutDate">
                            </div>
                            <div class="xl:col-span-6 col-span-12" id="form-bulan">
                                <label class="form-label">Month</label>
                                <select id="bulanFilter" name="bulanFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">Select Month</option>
                                    <option value="1">Januari</option>
                                    <option value="2">Februari</option>
                                    <option value="3">Maret</option>
                                    <option value="4">April</option>
                                    <option value="5">Mei</option>
                                    <option value="6">Juni</option>
                                    <option value="7">Juli</option>
                                    <option value="8">Agustus</option>
                                    <option value="9">September</option>
                                    <option value="10">Oktober</option>
                                    <option value="11">November</option>
                                    <option value="12">Desember</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12" id="form-tahun">
                                <label class="form-label">Year</label>
                                <select id="tahunFilter" name="tahunFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>

                            <div class="xl:col-span-6 col-span-12" id="form-stockpile">
                                <label class="form-label">Stockpile</label>
                                <select id="areaFilter" name="areaFilter"
                                    class="fti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12" id="form-dome">
                                <label class="form-label">Dome</label>
                                <select id="pointFilter" name="pointFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">--- Select ---</option>
                                </select>
                            </div>
                            <div class="xl:col-span-12 col-span-12">
                                <label class="form-label">Source</label>
                                <select id="sourceFilter" name="sourceFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t" multiple="multiple">
                                    <option value="">--- Select ---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ti-modal-footer">
                        <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-success align-middle"
                            id="exportButton">
                            Export
                        </button>
                        <button type="button" id="applyFilterBtn"
                            class="ti-btn bg-primary text-white !font-medium">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End::add task modal -->
    <!-- Footer Start -->
    {% include 'layout/footer.html' %}
    <!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}

<!-- Scripts -->
<script type="text/javascript">
    $(document).ready(function () {
        /*--- Pass Header Token ---*/
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });

        let isLoading = false;
        // Inisialisasi
        var grandTotalOre = 0;
        var grandTotalIncomplete = 0;
        var grandTotalUnprepared = 0;
        var grandTotalUnRelease = 0;
        var grandTotalRelease = 0;
        var sumNi = 0;
        var sumCo = 0;
        var sumAl2O3 = 0;
        var sumCao = 0;
        var sumCr2O3 = 0;
        var sumFe = 0;
        var sumMgo = 0;
        var sumSiO2 = 0;
        var sumMC = 0;
        var sumSM = 0;
        var data_Ni = [];
        var data_Co = [];
        var data_Al2O3 = [];
        var data_CaO = [];
        var data_Cr2O3 = [];
        var data_Fe = [];
        var data_Mgo = [];
        var data_SiO2 = [];
        var data_MC = [];
        var data_SM = [];
        var rowCount = 0; // Jumlah baris
        var table = $("#list-table").find("tbody");
        var loading = false; // Status loading
        var page = 1; // Halaman saat ini
        var loadingComplete = false;

        // Bersihkan isi tabel sebelum menambahkan data baru
        table.empty();

        // Fungsi untuk menambahkan data ke tabel
        function appendDataToTable(data) {
            // Reset grand total ke nol
            grandTotalOre = 0;
            grandTotalIncomplete = 0;
            grandTotalUnprepared = 0;
            grandTotalUnRelease = 0;
            grandTotalRelease = 0;
            sumNi = 0;
            sumCo = 0;
            sumAl2O3 = 0;
            sumCao = 0;
            sumCr2O3 = 0;
            sumFe = 0;
            sumMgo = 0;
            sumSiO2 = 0;
            sumMC = 0;
            sumSM = 0;

            // Loop melalui data dan tambahkan ke tabel
            $.each(data, function (index, row) {
                var newRow = $("<tr>");
                newRow.append("<td>" + (rowCount + index + 1) + "</td>");
                newRow.append("<td>" + row.prospect_area + "</td>");
                newRow.append("<td>" + row.stockpile + "</td>");
                newRow.append("<td>" + row.nama_material + "</td>");
                newRow.append("<td>" + parseFloat(row.total_ore).toLocaleString('en-US', { maximumFractionDigits: 2 }) + "</td>");
                newRow.append("<td>" + parseFloat(row.incomplete).toLocaleString('en-US', { maximumFractionDigits: 2 }) + "</td>");
                newRow.append("<td>" + parseFloat(row.unprepared).toLocaleString('en-US', { maximumFractionDigits: 2 }) + "</td>");
                newRow.append("<td>" + parseFloat(row.unreleased).toLocaleString('en-US', { maximumFractionDigits: 2 }) + "</td>");
                newRow.append("<td>" + parseFloat(row.released).toLocaleString('en-US', { maximumFractionDigits: 2 }) + "</td>");
                newRow.append("<td>" + row.ni + "</td>");
                newRow.append("<td>" + row.co + "</td>");
                newRow.append("<td>" + row.al2o3 + "</td>")
                newRow.append("<td>" + row.cao + "</td>")
                newRow.append("<td>" + row.cr2o3 + "</td>")
                newRow.append("<td>" + row.fe + "</td>")
                newRow.append("<td>" + row.mgo + "</td>")
                newRow.append("<td>" + row.sio2 + "</td>")
                newRow.append("<td>" + parseFloat(row.sm).toLocaleString('en-US', { maximumFractionDigits: 2 }) + "</td>");
                newRow.append("<td>" + row.mc + "</td>")

                // Kolom "grade" berdasarkan kondisi Ni dan Mgo
                var grade = "NULL"; // Default
                if (row.ni < 0.7 && row.mgo < 5.01) {
                    grade = "WASTE";
                } else if (row.ni < 1.2 && row.mgo < 5.01) {
                    grade = "LGLO";
                } else if (row.ni < 1.45 && row.mgo < 5.01) {
                    grade = "MGLO";
                } else if (row.ni >= 1.45 && row.mgo < 6.00) {
                    grade = "HGLO";
                } else if (row.ni < 1.2 && row.mgo > 5) {
                    grade = "WASTE";
                } else if (row.ni < 1.4 && row.mgo > 5) {
                    grade = "LGSO";
                } else if (row.ni < 1.7 && row.mgo > 5) {
                    grade = "MGSO";
                } else if (row.ni >= 1.7 && row.mgo > 5) {
                    grade = "HGSO";
                }
                // Tambahkan elemen <td> dengan kelas CSS yang sesuai
                newRow.append("<td>" + grade + "</td>");

                // Tambahkan baris ke tabel
                table.append(newRow);
            });

            // Update rowCount
            rowCount += data.length;

            // Menghitung rentang yang ditampilkan
            var startEntry = rowCount - data.length + 1; // Menghitung entri awal
            var endEntry = rowCount; // Menghitung entri akhir

            // Update informasi di bawah tabel
            $('#entry-info').text(`Showing ${startEntry} to ${endEntry} entries`);

            // Proses SUM Product Grade
            var sumProduct = function (dataArray) {
                return dataArray.reduce((sum, value) => sum + value, 0);
            };

            loading = false; // Set status loading ke false
        }

        function formatNumber(number) {
            // Pastikan angka selalu diformat dengan maksimal 2 desimal
            return parseFloat(number).toLocaleString('en-US', { maximumFractionDigits: 2 });
        }
        function updateGrandTotals(response) {

            // Tambahkan nilai dari respons (pastikan semuanya dalam format angka)
            grandTotalOre += parseFloat(response.grand_totals.total_ore || 0);
            grandTotalIncomplete += parseFloat(response.grand_totals.incomplete || 0);
            grandTotalUnprepared += parseFloat(response.grand_totals.unprepared || 0);
            grandTotalUnRelease += parseFloat(response.grand_totals.unreleased || 0);
            grandTotalRelease += parseFloat(response.grand_totals.released || 0);

            data_Ni += parseFloat(response.sum_results.Ni || 0);
            data_Co += parseFloat(response.sum_results.Co || 0);
            data_Al2O3 += parseFloat(response.sum_results.Al2O3 || 0);
            data_CaO += parseFloat(response.sum_results.CaO || 0);
            data_Cr2O3 += parseFloat(response.sum_results.Cr2O3 || 0);
            data_Fe += parseFloat(response.sum_results.Fe || 0);
            data_Mgo += parseFloat(response.sum_results.Mgo || 0);
            data_SiO2 += parseFloat(response.sum_results.SiO2 || 0);
            data_MC += parseFloat(response.sum_results.MC || 0);

            // Perbarui nilai pada elemen tabel
            $("#grand-total-ore").text(formatNumber(grandTotalOre));
            $("#grand-total-incomplete").text(formatNumber(grandTotalIncomplete));
            $("#grand-total-unprepared").text(formatNumber(grandTotalUnprepared));
            $("#grand-total-unreleased").text(formatNumber(grandTotalUnRelease));
            $("#grand-total-released").text(formatNumber(grandTotalRelease));

            $("#grand-sum-ni").text(formatNumber(data_Ni));
            $("#grand-sum-co").text(formatNumber(data_Co));
            $("#grand-sum-al2o3").text(formatNumber(data_Al2O3));
            $("#grand-sum-cao").text(formatNumber(data_Al2O3));
            $("#grand-sum-cr2o3").text(formatNumber(data_Cr2O3));
            $("#grand-sum-fe").text(formatNumber(data_Fe));
            $("#grand-sum-mgo").text(formatNumber(data_Mgo));
            $("#grand-sum-sio2").text(formatNumber(data_SiO2));
            $("Cr2O3").text(formatNumber(data_MC));
        }
        // Panggil fetchData saat halaman dimuat untuk pertama kalinya
        var filter = $('#filter').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var cutDate = $('#cutDate').val();
        var tahunFilter = $('#tahunFilter').val();
        var bulanFilter = $('#bulanFilter').val();
        var sourceFilter = $('#sourceFilter').val();
        var areaFilter = $('#areaFilter').val();
        var pointFilter = $('#pointFilter').val();
        var materialFilter = $('#materialFilter').val();

        var filter_data = {
            materialFilter: materialFilter,
            sourceFilter: sourceFilter,
            areaFilter: areaFilter,
            pointFilter: pointFilter,
            tahunFilter: tahunFilter,
            bulanFilter: bulanFilter,
            startDate: startDate,
            endDate: endDate,
            cutDate: cutDate
        };
        fetchData(filter_data);

        // Fungsi untuk mengambil data dari server
        function fetchData(filter_data) {
            if (loading || loadingComplete) return;
            loading = true;
            // Tampilkan loader hanya jika ini adalah pemanggilan awal
            if (page === 1) {
                $('#loader').show();
                $('#table-header').hide();
            }
            $.ajax({
                type: "GET",
                url: "{% url 'to-stockpile-roa' %}?page=" + page,
                data: filter_data,
                dataType: 'json',
                success: function (response) {
                    var sqlData = response.data;
                    console.log("Current Page:", page);
                    console.log("SQL Data Length:", sqlData.length);
                    $('#loader').hide();
                    if (sqlData.length === 0) {
                        loadingComplete = true; // Set flag jika tidak ada lagi data
                    } else {
                        updateGrandTotals(response);  // Update grand totals dengan data halaman baru
                        appendDataToTable(sqlData);
                        // Update grand total atau total lainnya
                        page++; // Increment page hanya jika data tidak kosong
                    }
                },
                error: function () {
                    $('#loader').hide();
                    console.log("Gagal mengambil data dari server.");
                    loading = false;
                },
                complete: function () {
                    loading = false; // Pastikan untuk set loading ke false setelah selesai
                    $('#loader').hide();
                    $('#table-header').show();
                }
            });
        }

        $(".table-scrollable").on("scroll", function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight - 100) {
                // Ambil kembali nilai filter terbaru
                var filter_data = {
                    materialFilter: $('#materialFilter').val(),
                    sourceFilter: JSON.stringify($('#sourceFilter').val()), // Convert to JSON string
                    areaFilter: $('#areaFilter').val(),
                    pointFilter: $('#pointFilter').val(),
                    tahunFilter: $('#tahunFilter').val(),
                    bulanFilter: $('#bulanFilter').val(),
                    startDate: $('#startDate').val(),
                    endDate: $('#endDate').val(),
                    cutDate: $('#cutDate').val()
                };
                console.log("Fetching data with filter:", filter_data); // Debug log
                fetchData(filter_data); // Ambil data lebih lanjut dengan filter terbaru
            }
        });

        $('#applyFilterBtn').click(function () {
            // Ambil nilai filter dan set halaman ke 1
            page = 1; // Reset halaman ke 1
             loadingComplete = false; // 🔥 Reset agar fetchData mau jalan lagi
            // Mengambil nilai filter dari elemen-elemen HTML yang sesuai
            var filter = $('#filter').val();

            // Menjalankan filter berdasarkan parameter yang dipilih
            if (filter == '') {
                $('#filter').select2('open');
                return false;
            } else if (filter == '1' && $('#startDate').val() == '') {
                $('#startDate').focus();
                return false;
            } else if (filter == '1' && $('#endDate').val() == '') {
                $('#endDate').focus();
                return false;
            } else if (filter == '2' && $('#bulanFilter').val() == '') {
                $('#bulanFilter').select2('open');
                return false;
            } else if (filter == '2' && $('#bulanFilter').val() !== '' && $('#tahunFilter').val() == '') {
                $('#tahunFilter').select2('open');
                return false;
            } else if (filter == '3' && $('#tahunFilter').val() == '') {
                $('#tahunFilter').select2('open');
                return false;
            } else if (filter == '4' && $('#cutDate').val() == '') {
                $('#cutDate').focus();
                return false;
            } else {
                // Bersihkan tabel sebelum memuat data baru
                var table = $("#list-table").find("tbody");
                table.empty();
                // Reset rowCount untuk memulai dari 0
                rowCount = 0;
                // Reset array
                data_Ni = [];
                data_Co = [];
                data_Al2O3 = [];
                data_CaO = [];
                data_Cr2O3 = [];
                data_Fe = [];
                data_Mgo = [];
                data_SiO2 = [];
                data_MC = [];

                // Reset total
                resetGrandTotals();

                // Ambil nilai dari elemen input
                var filter_data = {
                    materialFilter: $('#materialFilter').val(),
                    sourceFilter: JSON.stringify($('#sourceFilter').val()),
                    areaFilter: $('#areaFilter').val(),
                    pointFilter: $('#pointFilter').val(),
                    tahunFilter: $('#tahunFilter').val(),
                    bulanFilter: $('#bulanFilter').val(),
                    startDate: $('#startDate').val(),
                    endDate: $('#endDate').val(),
                    cutDate: $('#cutDate').val()
                };

                // Mulai memuat data baru berdasarkan filter
                isLoading = true; // Set flag loading

                // Debugging: Tampilkan nilai filter
                console.log("Filter Values: ", filter_data);
                console.log("Source Filter (Frontend):", filter_data.sourceFilter); // Tambahkan console.log

                fetchData(filter_data)

                 window.HSOverlay.close('#search-modal');
            }
        });

        $('#reload').click(function () {
            // Tampilkan loader dan sembunyikan header tabel
            $('#loader').show(); // Tampilkan loader
            $('#table-header').hide(); // Sembunyikan header tabe
            page = 1; // Reset halaman ke 1
            // Bersihkan tabel
            var table = $("#list-table").find("tbody");
            table.empty(); // Menghapus semua baris di tbody

            // Reset rowCount untuk memulai dari 0
            rowCount = 0;
            // Reset array
            data_Ni = [];
            data_Co = [];
            data_Al2O3 = [];
            data_CaO = [];
            data_Cr2O3 = [];
            data_Fe = [];
            data_Mgo = [];
            data_SiO2 = [];
            data_MC = [];
            // Reset total
            resetGrandTotals();
            // Reset filter values
            resetFilterValues();



            loadingComplete = false; // Reset loadingComplete
            isLoading = true; // Set flag loading
            // Ambil nilai dari elemen input
            var filter_data = {
                materialFilter: $('#materialFilter').val(),
                sourceFilter: $('#sourceFilter').val(),
                areaFilter: $('#areaFilter').val(),
                pointFilter: $('#pointFilter').val(),
                tahunFilter: $('#tahunFilter').val(),
                bulanFilter: $('#bulanFilter').val(),
                startDate: $('#startDate').val(),
                endDate: $('#endDate').val(),
                cutDate: $('#cutDate').val()
            };

            fetchData(filter_data)

        });

    });

    // Fungsi untuk reset nilai total
    function resetGrandTotals() {
        $("#grand-total-ore").text('-');
        $("#grand-total-incomplete").text('-');
        $("#grand-total-unprepared").text('-');
        $("#grand-total-unreleased").text('-');
        $("#grand-total-released").text('-');
        $("#grand-sum-ni").text('-');
        $("#grand-sum-co").text('-');
        $("#grand-sum-al2o3").text('-');
        $("#grand-sum-cao").text('-');
        $("#grand-sum-cr2o3").text('-');
        $("#grand-sum-fe").text('-');
        $("#grand-sum-mgo").text('-');
        $("#grand-sum-sio2").text('-');
        $("#grand-sum-sm").text('-');
        $("#grand-sum-mc").text('-');
        $("#grand-sum-sm").text('-');
    }

    // Fungsi untuk reset nilai filter
    function resetFilterValues() {
        $('#filter').val('')
        $('#startDate').val('');
        $('#endDate').val('');
        $('#cutDate').val('');
        $('#tahunFilter').val('').trigger('change');
        $('#bulanFilter').val('').trigger('change');
        $('#sourceFilter').val('').trigger('change');
        $('#materialFilter').val('').trigger('change');
        $('#areaFilter').val('').trigger('change');
        $('#pointFilter').val('').trigger('change');
    }
</script>


<!-- for filter cahnge -->
<script>
    $(document).ready(function () {
       $('#form-tanggal-awal,#form-tanggal-akhir, #form-bulan, #form-tahun,#form-tanggal-cut').hide(); 
        $('#filter').trigger('change'); // Langsung jalankan logika filter saat halaman load
       
        $('#filter').change(function () { // Ketika user memilih filter
            if ($(this).val() == '1') { // Jika filter nya 1 (per tanggal)
                $('#form-bulan, #form-tahun, #form-tanggal-cut').hide(); // Sembunyikan lainnya
                $('#form-tanggal-awal, #form-tanggal-akhir').show();     // Tampilkan tanggal range
                $('#startDate').val('');
                $('#endDate').val('');
                $('#cutdDate').val('');
                $('#tahunFilter').val('').trigger('change');
                $('#bulanFilter').val('').trigger('change');
                $('#sourceFilter').val('').trigger('change');
                $('#materialFilter').val('').trigger('change');
                $('#areaFilter').val('').trigger('change');
                $('#pointFilter').val('').trigger('change');
                $('#form-material').removeClass('xl:col-span-6').addClass('xl:col-span-12');
                $('#form-tanggal-cut').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-stockpile').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-dome').removeClass('xl:col-span-12').addClass('xl:col-span-6');
            } else if ($(this).val() == '2') { // Jika filter nya 2 (per bulan)
                $('#startDate').val('');
                $('#endDate').val('');
                $('#cutDate').val('');
                $('#tahunFilter').val('').trigger('change');
                $('#bulanFilter').val('').trigger('change');
                $('#sourceFilter').val('').trigger('change');
                $('#materialFilter').val('').trigger('change');
                $('#areaFilter').val('').trigger('change');
                $('#pointFilter').val('').trigger('change');
                $('#form-tanggal-awal,#form-tanggal-akhir,#form-tanggal-cut').hide();
                $('#form-bulan, #form-tahun').show();
                 $('#form-material').removeClass('xl:col-span-6').addClass('xl:col-span-12');
                $('#form-tanggal-cut').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-stockpile').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-dome').removeClass('xl:col-span-12').addClass('xl:col-span-6');
            } else if ($(this).val() == '3') {
                // Jika filternya 3 (Year)
                $('#startDate').val('');
                $('#endDate').val('');
                $('#cutDate').val('');
                $('#tahunFilter').val('').trigger('change');
                $('#bulanFilter').val('').trigger('change');
                $('#sourceFilter').val('').trigger('change');
                $('#materialFilter').val('').trigger('change');
                $('#areaFilter').val('').trigger('change');
                $('#pointFilter').val('').trigger('change');
                $('#form-tanggal-awal,#form-tanggal-akhir,#form-bulan,#form-tanggal-cut').hide();
                $('#form-tahun').show();
                 $('#form-material').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-tanggal-cut').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-stockpile').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-dome').removeClass('xl:col-span-12').addClass('xl:col-span-6');
            } else if ($(this).val() == '4') {
                // Jika filternya 4 (cut Date)
                $('#startDate').val('');
                $('#endDate').val('');
                $('#cutDate').val('');
                $('#tahunFilter').val('').trigger('change');
                $('#bulanFilter').val('').trigger('change');
                $('#sourceFilter').val('').trigger('change');
                $('#materialFilter').val('').trigger('change');
                $('#areaFilter').val('').trigger('change');
                $('#pointFilter').val('').trigger('change');
                $('#form-tanggal-awal,#form-tanggal-akhir,#form-bulan,#form-tahun').hide();
                $('#form-tanggal-cut').show();
                // Ganti layout jadi col-span-6 untuk semua yang tampil
                $('#form-material').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-tanggal-cut').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-stockpile').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-dome').removeClass('xl:col-span-12').addClass('xl:col-span-6');
            } else { // Jika filternya 5 (Get ALl)
                $('#startDate').val('');
                $('#endDate').val('');
                $('#cutDate').val('');
                $('#tahunFilter').val('').trigger('change');
                $('#bulanFilter').val('').trigger('change');
                $('#sourceFilter').val('').trigger('change');
                $('#materialFilter').val('').trigger('change');
                $('#areaFilter').val('').trigger('change');
                $('#pointFilter').val('').trigger('change');
                $('#form-tanggal-awal,#form-tanggal-akhir, #form-bulan, #form-tahun,#form-tanggal-cut').hide();
                // Reset layout semua ke full
                $('#form-material').removeClass('xl:col-span-6').addClass('xl:col-span-12');
                $('#form-tanggal-cut').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-stockpile').removeClass('xl:col-span-12').addClass('xl:col-span-6');
                $('#form-dome').removeClass('xl:col-span-12').addClass('xl:col-span-6');
            }
        })

        /*---  Filter Modal and Apply Filter  ----*/
        $('#openFilter').click(function () {
             window.HSOverlay.open('#search-modal');
            $("#filter,#materialFilter,#tahunFilter,#bulanFilter").select2({
                width: '100%',
            });

        });

        // Ambil data material dari server dan tambahkan sebagai opsi Select2
        $.ajax({
            url: "{% url 'get-year-ore' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '';
                
                $.each(data.tahun_pds, function (key, value) {
                    options += '<option value="' + value.tahun + '">' + value
                        .tahun +
                        '</option>';
                });
                $('#tahunFilter').append(options);
            }
        });

        $.ajax({
            url: "{% url 'material-dropdown' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '';
                $.each(data.materials, function (key, value) {
                    options += '<option value="' + value.nama_material + '">' + value
                        .nama_material +
                        '</option>';
                });

                $('#materialFilter').append(options);
            }
        });

        $('#sourceFilter').select2({
            ajax: {
                url: "{% url 'get-mine-loading-point' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,  // Mengirimkan data pencarian ke server
                        page: params.page || 1  // Pagination halaman
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

        $('#areaFilter').select2({
            ajax: {
                url: "{% url 'get-mine-dumping-point' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select stockpile',
            allowClear: true,
        });

        $('#pointFilter').select2({
            ajax: {
                url: "{% url 'get-mine-dome' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select dome',
            allowClear: true,
        });
    });
</script>
</body>

</html>

<style>
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    .table-scrollable {
        max-height: 635px;
        /* Setel tinggi maksimum */
        overflow-y: auto;
        /* Enable vertical scrolling */
        overflow-x: auto;
        /* Disable horizontal scrolling jika tidak diperlukan */
    }

    table {
        text-align: left;
        position: relative;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 0.25rem;
    }

     th {
        background: rgb(246 248 250);
        position: sticky;
        top: 0;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }
  /* Mode gelap */
    .dark th {
        background: #1f2937;
        /* abu-abu gelap */
        box-shadow: 0 2px 2px -1px rgba(255, 255, 255, 0.2);
        /* bayangan putih samar */
        color: #f9fafb;
        /* teks jadi terang */
    }
    #loader {
        display: none;
        /* Mulai sembunyikan loader */
        text-align: center;
        position: relative;
        /* Atur posisi relative untuk pengaturan lebih lanjut */
        padding: 20px;
    }
</style>