{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div>
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->


    <div class="content">

        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        Barging</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-[0.813rem] ps-[0.5rem]">
                        <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                            href="javascript:void(0);">
                            Tables
                            <i
                                class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 "
                        aria-current="page">
                        Barging
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->


            <!-- Start::row-1 -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">Plan Barging</h5>
                        </div>
                        <div class="box-body">
                            <div class="flex justify-end mb-2">
                                <div class="ti-btn-list space-x-1 rtl:space-x-reverse">
                                    <!-- <button id="addPlan" type="button"
                                        class="ti-btn ti-btn-success-full !py-1 !px-2 ti-btn-wave">Add Plan</button> -->
                                    <button id="openFilter" type="button"
                                        class="ti-btn ti-btn-primary-full !py-1 !px-2 ti-btn-wave">Filter</button>
                                    <a id="reload" href="#"
                                        class="ti-btn ti-btn-warning-full !py-1 !px-2 ti-btn-wave">Reload</a>
                                </div>
                            </div>
                            <div class="overflow-auto">
                                <table id="data_table"
                                    class="table ti-striped-table table-hover min-w-full ti-custom-table-hover nowrap mb"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th width="3%">No</th>
                                            <th>Date Plan</th>
                                            <th>Material</th>
                                            <th scope="col" width="10%">Tonnage</th>
                                            <th scope="col" width="10%">Ni</th>
                                            <th scope="col" width="10%">Co</th>
                                            <th scope="col" width="10%">Fe</th>
                                            <th scope="col" width="10%">SiO2</th>
                                            <th scope="col" width="10%">MgO</th>
                                            <th scope="col" width="10%">Al2O3</th>
                                            <th scope="col" width="10%">SM</th>
                                            <!-- <th width="5%">Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tfoot class="th_hide" style='display:none;'>
                                        <tr>
                                            <th width="5%"></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    </tbody>
                                </table>
                                <div class=" mt-1">
                                    <div class="flex flex-wrap items-left justify-start gap-2">
                                        <button type="button" id="applyRemoveBtn"
                                            class="ti-btn ti-btn-danger !rounded-lg ti-btn-wave">Remove data</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End::row-1 -->

        </div>
        <!-- Start::main-content -->

    </div>

    <!-- ========== Search Modal ========== -->
    <div id="search-modal" class="hs-overlay ti-modal hidden mt-[1.75rem]" aria-overlay="true" tabindex="-1">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"
                        id="mail-ComposeLabel"></h6>
                    <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold"
                        data-hs-overlay="#search-modal">
                        <span class="sr-only">Close</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <form>
                    <div class="ti-modal-body !overflow-visible">
                        <div class="grid grid-cols-12 gap-4">
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Start date</label>
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="startDate" name="startDate"
                                        placeholder="Choose date" value="{{start_date}}">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">End date</label>
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="endDate" name="endDate"
                                        placeholder="Choose date" value="{{end_date}}">
                                </div>
                            </div>
                            <div class="xl:col-span-12 col-span-12">
                                <label class="form-label">Materials</label>
                                <select id="materialFilter" name="materialFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ti-modal-footer">
                        <button type="button" id="applyFilterBtn"
                            class="ti-btn bg-primary text-white !font-medium">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Create Data -->
    <div id="add-data" class="hs-overlay ti-modal hidden mt-[1.75rem]" aria-overlay="true" tabindex="-1">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-4xl lg:w-full m-3 lg:!mx-auto">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"></h6>
                    <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold"
                        data-hs-overlay="#add-data">
                        <span class="sr-only">Close</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <div class="ti-modal-body !overflow-visible">
                    <form id="multiRowForm" name="multiRowForm">
                        <div class="table-responsive">
                            <table id="planTable" class="table table-nowrap table-sm" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th scope="col" width="2%">#</th>
                                        <th scope="col" width="10%" class="text-danger">Date</th>
                                        <th scope="col" width="10%" class="text-danger">Materials</th>
                                        <th scope="col" width="15%" class="text-danger">Tonnage</th>
                                        <th scope="col" width="10%" class="text-danger">Ni</th>
                                        <th scope="col" width="10%" class="text-danger">Co</th>
                                        <th scope="col" width="10%" class="text-danger">Fe</th>
                                        <th scope="col" width="10%" class="text-danger">SiO2</th>
                                        <th scope="col" width="10%" class="text-danger">MgO</th>
                                        <th scope="col" width="10%" class="text-danger">Al2O3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            </button>
                                            <button type="button"
                                                class="removeRow ti-btn ti-btn-icon bg-danger/10 text-danger hover:bg-danger hover:text-white !rounded-full ti-btn-wave">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                                    class="h-5 w-5">
                                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                                </svg>
                                                </i></button>
                                        </td>
                        </div>
                        </td>
                        <td>
                            <div>
                                <input type="month" name="plan_date[]" value="" class="form-control text-black"
                                    placeholder="Sample Date">

                            </div>
                        </td>
                        <td>
                            <div>
                                <select name="type_ore[]" class="form-control w-full !rounded-md !bg-light">
                                    <option value="">-- -- </option>
                                    <option value="LIM">LIM</option>
                                    <option value="SAP">SAP</option>
                                </select>
                        </td>

                        <td>
                            <div>
                                <input type="number" name="tonnage_plan[]" class="form-control w-full !rounded-md"
                                    placeholder="0">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" name="ni_plan[]" class="form-control w-full !rounded-md"
                                    placeholder="0.0">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" name="co_plan[]" class="form-control w-full !rounded-md"
                                    placeholder="0.0">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" name="fe_plan[]" class="form-control w-full !rounded-md"
                                    placeholder="0.0">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" name="sio2_plan[]" class="form-control w-full !rounded-md"
                                    placeholder="0.0">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" name="mgo_plan[]" class="form-control w-full !rounded-md"
                                    placeholder="0.0">
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" name="al2o3_plan[]" class="form-control w-full !rounded-md"
                                    placeholder="0.0">
                            </div>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                </div>
                <div class="ti-modal-footer">
                    <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-success align-middle" id="addRow">
                        Add Item
                    </button>
                    <button type="submit" id="save" class="ti-btn bg-primary text-white !font-medium">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Start::edit modal -->
<div id="delete-modal" class="hs-overlay ti-modal hidden mt-[1.75rem]" aria-overlay="true" tabindex="-1">
    <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
        <div class="ti-modal-content">
            <div class="ti-modal-header">
                <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"
                    id="mail-ComposeLabel"></h6>
                <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold"
                    data-hs-overlay="#delete-modal">
                    <span class="sr-only">Close</span>
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <form>
                <div class="ti-modal-body !overflow-visible">
                    <div class="grid grid-cols-12 gap-4">
                        <div class="xl:col-span-12 col-span-12">
                            <label class="form-label">Date Month</label>
                            <div class="input-group">
                                <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                        class="ri-calendar-line"></i> </div>
                                <input type="month" class="form-control" id="month_date" name="month_date"
                                    placeholder="Choose date">
                            </div>
                        </div>
                        <div class="xl:col-span-12 col-span-12">
                            <label class="form-label">Materials</label>
                            <select id="materials" name="materials" class="ti-form-select rounded-sm !py-2 !px-3t">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ti-modal-footer">
                    <button type="button" id="applyDeleteBtn"
                        class="ti-btn bg-danger text-white !font-medium">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Global Toast Container -->
<div id="toast-container" class="fixed top-5  rounded-sm  right-5 z-[9999] space-y-3"></div>

<!-- End::add task modal -->
<!-- Footer Start -->
{% include 'layout/footer.html' %}
<!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}


<script>
    $(document).ready(function () {
        // Inisialisasi flatpickr (opsional)
        flatpickr("#startDate", { dateFormat: "Y-m-d" });
        flatpickr("#endDate", { dateFormat: "Y-m-d" });
        flatpickr("#tgl_production", { dateFormat: "Y-m-d" });

        // Flag untuk hindari double init
        let isSelect2Init = false;

        // Saat buka modal
        $('#openFilter').on('click', function () {
            window.HSOverlay.open('#search-modal');
            $('#exportButton').hide();
            $('#applyFilterBtn').show();

            setTimeout(function () {
                // Hanya inisialisasi sekali
                if (!isSelect2Init) {
                    $('#search-modal select').each(function () {
                        const $el = $(this);
                        if (!$el.hasClass('select2-hidden-accessible')) {
                            $el.select2({
                                placeholder: 'Select an option',
                                allowClear: true,
                                width: '100%',
                                dropdownParent: $('#search-modal .ti-modal-body')
                            });
                        }
                    });
                    isSelect2Init = true;
                }
            }, 300); // delay agar modal sudah muncul
        });
    });

</script>

<!-- Get List Data & Submit Data -->
<script type="text/javascript">
    $(document).ready(function () {

        /*-- Pass Header Token ---*/
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });

        table = $('#data_table').DataTable().clear().destroy();
        /*-- Render DataTable --*/
        let data_url = '{% url "barging-plan-list" %}';
        // var material_filter = 'LIM';
        var table = $('#data_table').DataTable({
            'processing': true,
            'serverSide': true,
            'responsive': true,
            'autoWidth': true,
            language: {
                paginate: {
                    previous: "«",
                    next: "»"
                }
            },
            "ajax": {
                "url": data_url,
                "type": "POST",
                dataType: 'json',
                "data": function (data) {
                    data.startDate = $('#startDate').val();
                    data.endDate = $('#endDate').val();
                    data.materialFilter = $('#materialFilter').val();
                    return data;
                },
            },
            columns: [
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, // Kolom nomor otomatis
                {
                    data: 'plan_date',
                    name: 'plan_date',
                },

                {
                    data: 'type_ore',
                    name: 'type_ore'
                },
                {
                    data: 'tonnage_plan',
                    name: 'tonnage_plan',
                    render: function (data) {
                        return parseFloat(data).toFixed(0);
                    },
                    searchable: false,
                    orderable: false,
                },
                {
                    data: 'ni_plan',
                    name: 'ni_plan'
                },
                {
                    data: 'co_plan',
                    name: 'co_plan'
                },
                {
                    data: 'fe_plan',
                    name: 'fe_plan'
                },
                {
                    data: 'sio2_plan',
                    name: 'sio2_plan'
                },
                {
                    data: 'mgo_plan',
                    name: 'mgo_plan'
                },
                {
                    data: 'al2o3_plan',
                    name: 'al2o3_plan'
                },

                {
                    data: 'sm_plan',
                    name: 'sm_plan',
                    render: function (data) {
                        return parseFloat(data).toFixed(3);
                    },
                },
            ],
            // Mengatur default sort pada kolom secara desc
            order: [
                [0, 'desc']
            ],
            // Menambahkan opsi footerCallback
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(),
                    data;
                // converting to interger to find total
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                // computing column Total the complete result 
                var col_3 = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                col_3 = col_3.toFixed(2);

                // Update footer by showing the total with the reference of the column index   
                $(api.column(3).footer()).html(col_3.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));


            },
        });
        $('.th_hide').show();
        /*--Filter Modal and Apply Filter---*/
        $('#applyFilterBtn').click(function () {
            table.ajax.reload();
            window.HSOverlay.close('#search-modal');
        });

        /*  Reset */
        $('#reload').on('click', function () {
            $('#startDate').val('{{ start_date }}');
            $('#endDate').val('{{ end_date }}');
            $('#materialFilter').val('').trigger('change');
            table.ajax.reload(); //just reload table
        });

        /*--- Delete Modal ---*/
        $('#applyRemoveBtn').click(function () {
            window.HSOverlay.open('#delete-modal');
        });

        /*--- Delete ---*/
        $('#applyDeleteBtn').click(function () {
            var month_date = $('#month_date').val();
            var materials = $('#materials').val();
            var url = '{% url "delete-barging-plan" %}';
            if (month_date == '') {
                $("#month_date").focus();
                return false;
            }
            else {
                window.HSOverlay.close('#delete-modal');
                Swal.fire({
                    title: 'Are you sure?',
                    text: "Delete :" + " " + month_date ,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: 'btn btn-success',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Delete it!',
                    // width: 320,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: url,
                            type: "DELETE",
                            contentType: 'application/json',
                            data: JSON.stringify(
                                {
                                    month_date: month_date,
                                    materials: materials
                                }

                            ), // Sending data in the body
                            success: function (data) {
                                Swal.fire(
                                    'Deleted!',
                                    data.message,
                                    'success'
                                );
                                table.draw();
                                $('#btn_clear').hide(); // 
                            },
                            error: function (xhr) {
                                if (xhr.status === 403) {
                                    Swal.fire(
                                        'Access Denied!',
                                        xhr.responseJSON.message,
                                        'error'
                                    );
                                } else if (xhr.status === 404) {
                                    Swal.fire(
                                        'Not Found!',
                                        xhr.responseJSON.message,
                                        'error'
                                    );
                                } else {
                                    Swal.fire(
                                        'Error!',
                                        'Something went wrong.',
                                        'error'
                                    );
                                }
                            }
                        });
                    }
                })
            }

        });

    });
</script>


<script>
    $(document).ready(function () {


        //opsi Select2
        $.ajax({
            url: "{% url 'material-dropdown' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '<option value="">-- Select --</option>'; // Tambah opsi default di awal

                // Loop data material
                $.each(data.materials, function (key, value) {
                    options += '<option value="' + value.nama_material + '">' + value.nama_material + '</option>';
                });

                // Isi ke select + inisialisasi select2
                $('#materialFilter').html(options).select2({
                    width: '100%',
                    dropdownParent: $('#search-modal .ti-modal-body')
                })
                $('#materials').html(options).select2({
                    width: '100%',
                    dropdownParent: $('#delete-modal .ti-modal-body')
                })

            }
        });

    });
</script>

<!-- Exports to Excel -->


</body>

</html>

<style>
    .select-wrapper {
        position: relative;
    }

    .select2-container,
    .select2-dropdown {
        z-index: 9999 !important;
    }

    .select2-container--open {
        z-index: 9999 !important;
    }

    .ti-modal-body {
        position: relative;
        z-index: 9999;
        overflow: visible;
    }
</style>