<div class="overflow-auto mt-5">
    <div class="table-responsive">
        <table id="list-table-re-assay"
            class="table whitespace-nowrap mb-0 ti-striped-table table-hover min-w-full ti-custom-table-hover fixed_header">
            <thead>
                <tr>
                    <th colspan="4" class="center-align">All Shipment after Re-Assay</th>
                    <th colspan="4" class="center-align">Ni </th>
                    <th colspan="4" class="center-align">Fe</th>
                    <th colspan="4" class="center-align">S/M</th>
                </tr>
                <tr>
                    <th>No</th>
                    <th>Completed</th>
                    <th>Tagboat</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Internal</th>
                    <th class="text-right">Surveyor</th>
                    <th class="text-right">diff</th>
                    <th class="text-right">%diff</th>
                    <th class="text-right">Internal</th>
                    <th class="text-right">Surveyor</th>
                    <th class="text-right">diff</th>
                    <th class="text-right">%diff</th>
                    <th class="text-right">Internal</th>
                    <th class="text-right">Surveyor</th>
                    <th class="text-right">diff</th>
                    <th class="text-right">%diff</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                    <td>0.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Grand Total</th>
                    <th id="total-ore-re" class="text-right">-</th>
                    <th id="sum-ni-internal-re" class="text-right">-</th>
                    <th id="sum-ni-official-re" class="text-right">-</th>
                    <th id="sum-ni-diff-re" class="text-right">-</th>
                    <th id="sum-ni-diff-perc-re" class="text-right">-</th>

                    <th id="sum-fe-internal-re" class="text-right">-</th>
                    <th id="sum-fe-official-re" class="text-right">-</th>
                    <th id="sum-fe-diff-re" class="text-right">-</th>
                    <th id="sum-fe-diff-perc-re" class="text-right">-</th>

                    <th id="sum-sm-internal-re" class="text-right">-</th>
                    <th id="sum-sm-official-re" class="text-right">-</th>
                    <th id="sum-sm-diff-re" class="text-right">-</th>
                    <th id="sum-sm-diff-perc-re" class="text-right">-</th>
                </tr>
            </tfoot>

        </table>
    </div>
</div>

<script type="text/javascript">
    function loadDataSummaryReAssay() {
        var rowCount = 0; // Jumlah baris
        var table = $("#list-table-re-assay").find("tbody");
        var grandTotalOre = 0;
        var internalNi = [];
        var internalFe = [];
        var internalSM = [];
        var OfficialNi = [];
        var OfficialFe = [];
        var OfficialSM = [];
        var internalNi_diff = [];
        var internalNi_diff_perc = [];
        var internalFe_diff = [];
        var internalFe_diff_perc = [];
        var internalSM_diff = [];
        var internalSM_diff_perc = [];

        // Bersihkan isi tabel sebelum menambahkan data baru
        table.empty();
        // Fungsi untuk menambahkan data ke tabel
        function appendData(data) {
            grandTotalOre = 0;
            grandTotalPulp = 0;
            grandTotalCoa = 0;
            // Loop melalui data dan tambahkan ke tabel
            $.each(data, function (index, row) {
                var newRow = $("<tr>");


                // let flag = row.re_assay > 0 ? "🟢" : "";
                // newRow.append("<td>" + (index + 1) + " " + flag + "</td>");
                let badge = row.re_assay > 0 ? `<span class="ml-1 inline-block w-2 h-2 rounded-full bg-warning" title="Re-Assay"></span>` : "";
                let reClass = row.re_assay > 0 ? "text-warning fw-bold" : "";

                newRow.append(`<td>${index + 1} ${badge}</td>`);

                newRow.append(`<td class="${reClass}">${formatValue(row.date_barge_out)}</td>`);
                newRow.append(`<td class="${reClass}">${formatValue(row.barge_name)}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.tonnage_official).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);

                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.ni_split).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.ni_official).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.ni_diff).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.ni_diff_perc).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);

                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.fe_split).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.fe_official).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.fe_diff).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.fe_diff_perc).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);

                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.sm_split).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.sm_official).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.sm_diff).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);
                newRow.append(`<td class="text-right ${reClass}">${parseFloat(row.sm_diff_perc).toLocaleString('en-US', { maximumFractionDigits: 2 })}</td>`);


                grandTotalOre += parseFloat(row.tonnage_official);
                // grandTotalPulp += parseFloat(row.tonnage_pulp);

                /* Hitung SUM Product */
                internalNi.push(row.tonnage_official * row.ni_split);
                OfficialNi.push(row.tonnage_official * row.ni_official);
                internalNi_diff.push(row.tonnage_official * row.ni_diff);
                internalNi_diff_perc.push(row.tonnage_official * row.ni_diff_perc);

                internalFe.push(row.tonnage_official * row.fe_split);
                OfficialFe.push(row.tonnage_official * row.fe_official);
                internalFe_diff.push(row.tonnage_official * row.fe_diff);
                internalFe_diff_perc.push(row.tonnage_official * row.fe_diff_perc);

                internalSM.push(row.tonnage_official * row.sm_split);
                OfficialSM.push(row.tonnage_official * row.sm_official);
                internalSM_diff.push(row.tonnage_official * row.sm_diff);
                internalSM_diff_perc.push(row.tonnage_official * row.sm_diff_perc);



                // Tambahkan baris ke tabel
                table.append(newRow);

            });

            // Set grand total di bawah footer tabel
            $("#total-ore-re").text(grandTotalOre.toLocaleString('en-US', { maximumFractionDigits: 2 }));


            // Proses SUM Product Grade
            var sumProduct = function (dataArray) {
                return dataArray.reduce((sum, value) => sum + value, 0);
            };

            // Bagi dengan total 
            var sumResults = [
                { id: "sum-ni-internal-re", value: (sumProduct(internalNi) / grandTotalOre) || 0 },
                { id: "sum-ni-official-re", value: (sumProduct(OfficialNi) / grandTotalOre) || 0 },
                { id: "sum-ni-diff-re", value: (sumProduct(internalNi_diff) / grandTotalOre) || 0 },
                { id: "sum-ni-diff-perc-re", value: (sumProduct(internalNi_diff_perc) / grandTotalOre) || 0 },

                { id: "sum-fe-internal-re", value: (sumProduct(internalFe) / grandTotalOre) || 0 },
                { id: "sum-fe-official-re", value: (sumProduct(OfficialFe) / grandTotalOre) || 0 },
                { id: "sum-fe-diff-re", value: (sumProduct(internalFe_diff) / grandTotalOre) || 0 },
                { id: "sum-fe-diff-perc-re", value: (sumProduct(internalFe_diff_perc) / grandTotalOre) || 0 },

                { id: "sum-sm-internal-re", value: (sumProduct(internalSM) / grandTotalOre) || 0 },
                { id: "sum-sm-official-re", value: (sumProduct(OfficialSM) / grandTotalOre) || 0 },
                { id: "sum-sm-diff-re", value: (sumProduct(internalSM_diff) / grandTotalOre) || 0 },
                { id: "sum-sm-diff-perc-re", value: (sumProduct(internalSM_diff_perc) / grandTotalOre) || 0 },

            ];

            sumResults.forEach(result => {
                $("#" + result.id).text(result.value.toLocaleString('en-US', { maximumFractionDigits: 2 }));
            });
        }

        // Lakukan permintaan Ajax ke endpoint controller Anda
        var table = $("#list-table-re-assay").find("tbody");
        table.empty();
        var typeFilter = $('#typeFilter').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var codeFilter = $('#codeFilter').val();

        // Menjalankan filter berdasarkan parameter yang dipilih
        $.ajax({
            type: "GET",
            url: "{% url 'selling-monitoring-sample-re-assay'%}",
            data: {
                typeFilter: typeFilter,
                codeFilter: JSON.stringify(codeFilter), // Convert to JSON string,
                startDate: startDate,
                endDate: endDate
            },
            success: function (response) {
                // Data berhasil diterima dari server
                table.empty();
                var sqlData = response.data;
                appendData(sqlData);
            },
            error: function () {
                console.log("Gagal mengambil data dari server.");
            },
        });
    }

</script>