{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div>
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->
    <div class="content">
        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        Laboratory create</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-[0.813rem] ps-[0.5rem]">
                        <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                            href="javascript:void(0);">
                            Tables
                            <i
                                class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 "
                        aria-current="page">
                        Preparations
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->

            <div class="grid grid-cols-12 gap-6">
                <div class="xl:col-span-12 col-span-12">
                    <div class="box">
                        <form id="add_form">
                            <div class="box-header xxl:!flex !block">
                                <div class="h5 mb-0 sm:flex block items-center px-4">
                                    <div class="sm:ms-0 ms-0 sm:mt-0 mt-2">
                                        <div class="flex rounded-sm">
                                            <input type="text" id="job_number" name="job_number"
                                                placeholder="Jobs number.."
                                                class=" ti-form-input rounded-none rounded-s-sm focus:z-10 w-full sm:me-1 !mb-2 sm:!mb-0 ">
                                            <button aria-label="button" type="button" id="applyFilterBtn"
                                                class="inline-flex flex-shrink-0 justify-center items-center h-[2.875rem] w-[2.875rem] rounded-e-sm border border-transparent font-semibold bg-primary text-white hover:bg-primary focus:z-10 focus:outline-none focus:ring-0 focus:ring-primary transition-all text-sm">
                                                <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" width="16"
                                                    height="16" fill="currentColor" viewBox="0 0 16 16">
                                                    <path
                                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="grid grid-cols-12 sm:gap-x-6 gap-y-6">
                                    <div class="xl:col-span-12 col-span-12">
                                        <div class="grid grid-cols-12 sm:gap-x-6 gap-y-6">
                                            <div
                                                class="xl:col-span-4 lg:col-span-6 md:col-span-6 sm:col-span-6 col-span-12 px-4">
                                                <p class="font-semibold mb-2">
                                                    Rechived :
                                                </p>
                                                <div class="grid grid-cols-12 col-span-12 gap-2">
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <div class="input-group">
                                                            <div
                                                                class="input-group-text text-[#8c9097] dark:text-white/50">
                                                                <i class="ri-calendar-line"></i>
                                                            </div>
                                                            <input type="text" class="form-control" id="date_received"
                                                                name="date_received" placeholder="Date received"
                                                                value="{{day_date}}">
                                                        </div>
                                                    </div>
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <select class="form-control w-full !rounded-md !bg-light"
                                                            id="shift" name="shift">
                                                            <option value="">-- Shift -- </option>
                                                            <option value="Shift 1">Shift 1</option>
                                                            <option value="Shift 2">Shift 2</option>
                                                        </select>
                                                    </div>
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <input type="text"
                                                            class="form-control w-full !rounded-md !bg-light"
                                                            id="time_received" name="time_received" placeholder="hh:mm">
                                                    </div>
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <select class="form-control w-full !rounded-md !bg-light"
                                                            id="priority" name="priority">
                                                            <option value="">-- Priority -- </option>
                                                            <option value="High">High Priority</option>
                                                            <option value="Medium">Medium Priority</option>
                                                            <option value="Low">Low Priority</option>
                                                        </select>
                                                    </div>
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <textarea class="form-control w-full !rounded-md !bg-light"
                                                            id="remarks" name="remarks" placeholder="Remarks" rows="3"
                                                            style="height: 60px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="xl:col-span-4 xl:flex hidden"></div>
                                            <div
                                                class="xl:col-span-4 lg:col-span-6 md:col-span-6 sm:col-span-6 col-span-12 sm:mt-0 mt-4 px-4">
                                                <p class="font-semibold mb-2">
                                                    Account Details :
                                                </p>
                                                <div class="grid grid-cols-12 gap-2">
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <input type="text"
                                                            class="form-control w-full !rounded-md !bg-light"
                                                            id="waybill_number" name="waybill_number"
                                                            placeholder="Waybill Number">
                                                    </div>
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <select class="form-control w-full !rounded-md !bg-light"
                                                            id="sections" name="sections">
                                                            <option value="">-- Section -- </option>
                                                            <option value="GC">GC</option>
                                                            <option value="QA">QA</option>
                                                            <option value="Others">Others</option>
                                                        </select>
                                                    </div>
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <select class="form-control w-full !rounded-md !bg-light"
                                                            id="mral_order" name="mral_order">
                                                            <option value="">-- Order Mral -- </option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <select class="form-control w-full !rounded-md !bg-light"
                                                            id="roa_order" name="roa_order">
                                                            <option value="">-- Order Roa -- </option>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                    <div class="xl:col-span-12 col-span-12">
                                                        <input type="text"
                                                            class="form-control w-full !rounded-md !bg-light"
                                                            id="sample_id" name="sample_id" placeholder="Sample Id">
                                                    </div>

                                                    <div class="xl:col-span-12 col-span-12">
                                                        <input type="number"
                                                            class="form-control w-full !rounded-md !bg-light"
                                                            id="sample_wet" name="sample_wet"
                                                            placeholder="Sample Wet (Qty)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="box-footer text-end mt-2">
                                            <button type="button" id="clear"
                                                class="ti-btn ti-btn-danger ti-btn-wave sm:me-1 !mb-2 sm:!mb-0">Clear</button>
                                            <button type="submit" id="save"
                                                class="ti-btn ti-btn-success ti-btn-wave sm:me-1 !mb-2 sm:!mb-0">Submit</i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="xl:col-span-12 col-span-12">
                                    <div class="table-responsive">
                                        <table id="data_table"
                                            class="table ti-striped-table table-hover min-w-full ti-custom-table-hover nowrap"
                                            style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Rechived</th>
                                                    <th>Shift</th>
                                                    <th>Priority</th>
                                                    <th>Waybills</th>
                                                    <th>Sample Id</th>
                                                    <th>Qty (Wet)</th>
                                                    <th>Status</th>
                                                    <th>Remarks</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>
        <!-- Start::main-content -->
    </div>

    <!-- Start::edit modal -->
    <div id="edit-data" class="hs-overlay hidden ti-modal">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out lg:!max-w-2xl lg:w-full m-3 lg:!mx-auto">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70">
                        Edit Data
                    </h6>
                    <button type="button" class="hs-dropdown-toggle text-[1rem] font-semibold"
                        data-hs-overlay="#edit-data">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <!-- <div class="ti-modal-body px-4 !overflow-visible"> -->
                <div class="ti-modal-body px-4 py-2 max-h-[90vh] overflow-y-auto">
                    <form>
                        <input type="hidden" name="id" id="id">
                        <div class="grid grid-cols-12 gap-4">
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Date Rechived</label>
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="date_received_e" name="date_received_e"
                                        placeholder="Choose date">
                                </div>
                            </div>

                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Time</label>
                                <input type="text" class="form-control" id="time_received_e" name="time_received_e"
                                    placeholder="hh:mm">
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Shift</label>
                                <select class="form-control w-full !rounded-md !bg-light" id="shift_e" name="shift_e">
                                    <option value="">-- Shift -- </option>
                                    <option value="Shift 1">Shift 1</option>
                                    <option value="Shift 2">Shift 2</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Priority</label>
                                <select class="form-control w-full !rounded-md !bg-light" id="priority_e"
                                    name="priority_e">
                                    <option value="">-- Priority -- </option>
                                    <option value="High">High Priority</option>
                                    <option value="Medium">Medium Priority</option>
                                    <option value="Low">Low Priority</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Waybill</label>
                                <input type="text" class="form-control" id="waybill_e" name="waybill_e">
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Sample</label>
                                <input type="text" class="form-control" id="sample_e" name="sample_e">
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Qty</label>
                                <input type="number" class="form-control" id="sample_wet_e" name="sample_wet_e"
                                    placeholder="0">
                            </div>

                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Sections</label>
                                <select class="form-control w-full !rounded-md !bg-light" id="sections_e"
                                    name="sections_e">
                                    <option value="">-- Section -- </option>
                                    <option value="GC">GC</option>
                                    <option value="QA">QA</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">mral order</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="mral_order_e"
                                    name="mral_order_e">
                                    <option value="">Select</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">roa order</label>
                                <select class="ti-form-select rounded-sm !py-2 !px-3t" id="roa_order_e"
                                    name="roa_order_e">
                                    <option value="">Select</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="mt-4">
                            <label class="form-label">Remarks </label>
                            <textarea id="remarks_e" name="remarks_e" rows="3"
                                class="form-control w-full !rounded-md resize-none"
                                placeholder="Enter Description"></textarea>
                        </div>

                        <!-- Actions -->
                        <div class="mt-6 flex justify-end gap-2">
                            <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-light align-middle"
                                data-hs-overlay="#edit-data">
                                Cancel
                            </button>
                            <button type="button" value="edit" id="updateButton"
                                class="ti-btn bg-primary text-white">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer Start -->
    {% include 'layout/footer.html' %}
    <!-- Footer End -->
</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}

<script type="text/javascript">
    // event double click untuk field time_received
    $('#time_received').on('dblclick', function () {
        // Mendapatkan waktu saat ini
        var currentTime = new Date();
        // Format waktu dalam bentuk jam:menit (HH:MM)
        var hours = currentTime.getHours().toString().padStart(2, '0');
        var minutes = currentTime.getMinutes().toString().padStart(2, '0');
        // Format waktu
        var formattedTime = hours + ':' + minutes;
        // Isi value ke input field
        $(this).val(formattedTime);
    });

    $(document).ready(function () {
        flatpickr("#date_received", {
            dateFormat: "Y-m-d",
        });
        flatpickr("#date_received_e", {
            dateFormat: "Y-m-d",
        });
        $('#date_received').on('change', function () {
            const selectedDate = $(this).val();
            $.ajax({
                url: "{% url 'get_lab_number' %}",
                data: {
                    'date_received': selectedDate
                },
                success: function (data) {
                    $('#job_number').val(data.new_number);
                },
                error: function (xhr, status, error) {
                    alert("Gagal mengambil nomor register");
                }
            });
        });

        // Trigger awal saat halaman dimuat
        $('#date_received').trigger('change');
    });

</script>

<!-- Data List -->
<script type="text/javascript">
    $(document).ready(function () {
        /*-- Pass Header Token ---*/
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });

        table = $('#data_table').DataTable().clear().destroy();
        /*-- Render DataTable --*/
        let data_url = '{% url "laboratory-list-temporary" %}';
        var table = $('#data_table').DataTable({
            "autoWidth": false,
            scrollY: 300,
            scrollX: true,
            'searching': false,
            "lengthChange": false,
            'processing': true,
            'serverSide': true,
            language: {
                paginate: {
                    previous: "«",
                    next: "»"
                }
            },
            "ajax": {
                "url": data_url,
                "type": "POST",
                dataType: 'json',
                "data": function (data) {
                    data.job_number = $('#job_number').val();
                    return data;
                },
            },
            columns: [
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, // Kolom nomor otomatis
                {
                    data: 'date_received',
                    name: 'date_received'
                },
                {
                    data: 'shift',
                    name: 'shift',
                    searchable: true
                },
                {
                    data: 'priority',
                    name: 'priority',
                    render: function (data, type, row) {
                        if (data === 'High') {
                            return '<span class="badge bg-danger/10 text-danger">High</span>';
                        } else if (data === 'Medium') {
                            return '<span class="badge bg-warning/10 text-warning">Medium</span>';
                        } else if (data === 'Low') {
                            return '<span class="badge bg-success/10 text-success">Low</span>';
                        } else {
                            return '<span class="badge bg-secondary/10 text-secondary">-</span>';
                        }
                    }
                },

                {
                    data: 'waybill_number',
                    name: 'waybill_number',
                    searchable: true
                },
                {
                    data: 'sample_id',
                    name: 'sample_id',
                    searchable: true
                },

                {
                    data: 'sample_wet',
                    name: 'sample_wet',
                    searchable: true
                },
                {
                    data: 'status',
                    name: 'status',
                    searchable: true
                },

                {
                    data: 'remarks',
                    name: 'remarks'
                },
                {
                    'data': null,
                    'name': 'action',
                    'orderable': false,
                    'searchable': false,
                    'render': function (data, type, row) {
                        return `
                                <div  class="flex gap-2 items-center" >
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-id='${row.id}' class="hover:text-info editData">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-primary">
                                        <circle opacity="0.5" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"></circle>
                                        <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                     </a>
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-id='${row.id}' class="hover:text-danger deleteData">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-danger">
                                        <circle opacity="0.5" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"></circle>
                                        <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                        </svg>
                                    </a>
                                </div>
                                `;
                    }
                },

            ],
            // Mengatur default sort pada kolom secara desc
            order: [
                [1, 'desc']
            ],

        });

        /*--Filter Modal and Apply Filter---*/
        $('#applyFilterBtn').click(function () {
            var job_number = $('#job_number').val();
            table.ajax.reload();
        });

        /* Update*/
        $('#updateButton').click(function (e) {
            e.preventDefault();
            var id = $('#id').val();
            var url = '/kqms/laboratory/update/' + id + '/';
            var date_received = $('#date_received_e').val();
            var time_received = $('#time_received_e').val();
            var shift = $('#shift_e').val();
            var priority = $('#priority_e').val();
            var waybill_number = $('#waybill_e').val();
            var sample_wet = $('#sample_wet_e').val();
            var sample_id = $('#sample_e').val();
            var sections = $('#sections_e').val();
            var mral_order = $('#mral_order_e').val();
            var roa_order = $('#roa_order_e').val();
            var remarks = $('#remarks_e').val();

            var updatedData = {
                date_received: date_received,
                time_received: time_received,
                shift: shift,
                priority: priority,
                waybill_number: waybill_number,
                sample_wet: sample_wet,
                sections: sections,
                sample_id: sample_id,
                mral_order: mral_order,
                roa_order: roa_order,
                remarks: remarks
            };

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                headers: {
                    'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                },
                data: updatedData,
                success: function (response) {
                    console.log(response); // 
                    if (response) {
                        $('#id').val('');
                        $('#date_received_e').val('');
                        $('#time_received_e').val('');
                        $('#shift_e').val('');
                        $('#waybill_e').val('');
                        $('#sample_wet_e').val('');
                        $('#sample_e').val('');
                        $('#sections_e').val('');
                        $('#mral_order_e').val('').trigger('change');
                        $('#roa_order_e').val('').trigger('change');;
                        $('#remarks_e').val('');
                        window.HSOverlay.close('#edit-data');
                        const toast = window.Swal.mixin({
                            toast: true,
                            position: 'top',
                            showConfirmButton: false,
                            timer: 2000,
                            padding: '2em',
                        });
                        Swal.fire({
                            icon: 'success',
                            title: 'Update successfully',
                            padding: '2em',
                        });
                        // Kirim permintaan AJAX ke server
                        table.ajax.reload();
                    } else {
                        alert('Terjadi kesalahan: ' + response.message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    let message = 'Terjadi kesalahan server';

                    if (xhr.status === 422 && xhr.responseJSON?.message) {
                        message = xhr.responseJSON.message;
                    } else if (xhr.status === 400 && xhr.responseJSON?.error) {
                        message = xhr.responseJSON.error;
                    } else if (xhr.status === 403 && xhr.responseJSON?.error) {
                        message = xhr.responseJSON.error;
                    }

                    Swal.fire({
                        toast: true,
                        icon: 'error',
                        title: message,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 2500,
                        timerProgressBar: true,
                    });
                }
            });
        });

        /*--- Delete ---*/
        $('#data_table').on('click', '.deleteData', function () {
            var id = $(this).data('id');
            var url = '{% url "delete-data-lab-prep" %}?id=' + id;
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'btn btn-success',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete it!',
                // width: 320,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        dataType: 'json',
                        data: { id: id },
                        success: function (data) {
                            // if (data.status === 'success') {
                            Swal.fire({
                                title: 'Deleted!',
                                text: 'Your file has been deleted.',
                                icon: 'success',
                            })
                            // Refresh table or remove row
                            table.draw();
                            // }
                        },
                        error: function (xhr) {
                            if (xhr.status === 403) {
                                Swal.fire(
                                    'Access Denied!',
                                    xhr.responseJSON.message,
                                    'error'
                                );
                            } else if (xhr.status === 404) {
                                Swal.fire(
                                    'Not Found!',
                                    xhr.responseJSON.message,
                                    'error'
                                );
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'Something went wrong.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            })
        });
 
 });
</script>


<!-- Save Data -->
<script>
    /* Insert Data */
    $('#add_form').submit(function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });
        $.ajax({
            method: 'POST',
            url: "{% url 'insert-samples-prep' %}",
            data: formData,
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    // Tampilkan notifikasi sukses
                    const toast = window.Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 2000,
                        padding: '2em',
                    });
                    toast.fire({
                        icon: 'success',
                        html: response.message,
                        padding: '2em',
                    });

                    // Membersihkan formulir setelah sukses input
                    // $("[name='job_number']").val('');
                    $("[name='date_received']").val('');
                    $("[name='shift']").val('');
                    $("[name='time_received']").val('');
                    $("[name='priority']").val('');
                    $("[name='waybill_number']").val('');
                    $("[name='sections']").val('');
                    $("[name='mral_order']").val('');
                    $("[name='roa_order']").val('');
                    $("[name='sample_id']").val('')
                    $("[name='sample_wet']").val('');
                    $("[name='remarks']").val('');

                    var job_number = $('#job_number').val();
                    // Kirim permintaan AJAX ke server dengan filter
                    $('#data_table').DataTable().clear().draw();
                } else {
                    // Handle kesalahan validasi atau kesalahan lainnya
                    alert('Terjadi kesalahan: ' + response.messages);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                let message = 'Terjadi kesalahan server';

                if (xhr.status === 422 && xhr.responseJSON?.message) {
                    message = xhr.responseJSON.message;
                } else if (xhr.status === 400 && xhr.responseJSON?.error) {
                    message = xhr.responseJSON.error;
                } else if (xhr.status === 403 && xhr.responseJSON?.error) {
                    message = xhr.responseJSON.error;
                }

                Swal.fire({
                    toast: true,
                    icon: 'error',
                    title: message,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: true,
                });
            }
        });
    });
    $('#clear').on('click', function () {
        // $("[name='job_number']").val('');
        $("[name='date_received']").val('');
        $("[name='shift']").val('');
        $("[name='time_received']").val('');
        $("[name='priority']").val('');
        $("[name='waybill_number']").val('');
        $("[name='sections']").val('');
        $("[name='mral_order']").val('');
        $("[name='roa_order']").val('');
        $("[name='sample_id']").val('')
        $("[name='sample_wet']").val('');
        $("[name='remarks']").val('');

        var job_number = $('#job_number').val();
        // Kirim permintaan AJAX ke server dengan filter
        $('#data_table').DataTable().clear().draw();
    });

</script>


<!-- Call for Line Edit  -->
<script>
    /*--- Click to Edit Button ---*/
    $('body').on('click', '.editData', function () {
        var id = $(this).data('id');
        var url = '/kqms/laboratory/laboratory/get-id/' + id + '/';

        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            success: function (response) {
                if (response) {
                    // Mengisi formulir dengan data yang diterima
                    window.HSOverlay.open('#edit-data');

                    $('#saveBtn').html('Update Data');
                    $('#id').val(response.id);
                    $('#date_received_e').val(response.date_received);
                    $('#shift_e').val(response.shift);
                    $('#priority_e').val(response.priority);
                    var responseToIts = response.time_received;
                    // Ini akan mengambil bagian jam (00:00:00)
                    var jam = responseToIts.substring(0, 8);
                    $('#time_received_e').val(jam);
                    // $('#delivery_time').val(response.delivery_time);
                    $('#waybill_e').val(response.waybill_number);
                    $('#sample_e').val(response.sample_id);
                    $('#sample_wet_e').val(response.sample_wet);
                    $('#sections_e').val(response.sections).trigger('change');
                    $('#mral_order_e').val(response.mral_order).trigger('change');
                    $('#roa_order_e').val(response.roa_order).trigger('change');
                    $('#remarks_e').val(response.remarks);
                } else {
                    alert(
                        'Data tidak ditemukan'
                    ); // Atau tindakan lain jika data tidak ditemukan
                }
            },
            error: function (xhr, status, error) {
                if (xhr.status === 403) {
                    const toast = window.Swal.mixin({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 2000,
                        padding: '2em',
                    });
                    toast.fire({
                        icon: 'error',
                        html: 'You do not have permission',
                        padding: '2em',
                    });
                } else {
                    alert('Terjadi kesalahan: ' + error);
                }
            }
        });
    });
</script>

</body>

</html>

<style>
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    table.dataTable td.focus {
        outline: 0px solid #17a2b81a;
    }

    div.dataTables_wrapper div.dataTables_filter {
        /*  width: 100%;*/
        margin-top: -30px;
        color: black
    }

    */ .input-sm {
        height: 25px;
        padding: 5px 10px;
        font-size: 12px;

    }
</style>