{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div>
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->

    <div class="content">
        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        Entry Selling</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-[0.813rem] ps-[0.5rem]">
                        <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                            href="javascript:void(0);">
                            Tables
                            <i
                                class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 "
                        aria-current="page">
                        Ore
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->


            <!-- Start::row-1 -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">Ore Barging</h5>
                        </div>
                        <div class="box-body">
                            <div class="flex justify-end mb-2">
                                <div class="ti-btn-list space-x-1 rtl:space-x-reverse">
                                    <button id="addNew" type="button"
                                        class="ti-btn ti-btn-primary-full !py-1 !px-2 ti-btn-wave">Add New</button>
                                    <button id="openFilter" type="button"
                                        class="ti-btn ti-btn-secondary ti-btn-wave !py-1 !px-2 ti-btn-wave">Filter
                                        data</button>
                                    <a id="reload" href="#"
                                        class="ti-btn ti-btn-warning ti-btn-wave !py-1 !px-2 ti-btn-wave">Reload</a>
                                </div>
                            </div>
                            <div class="overflow-auto">
                                <div class="flex flex-wrap justify-between items-start">
                                    <!-- Kiri -->
                                    <div class="flex items-center">
                                        <div class="me-2">
                                            <span class="avatar !rounded-full bg-primary/10 !text-primary">
                                                <i class="ri-bar-chart-fill text-[1rem]"></i>
                                            </span>
                                        </div>
                                        <div>
                                            <p class="text-[1.125rem] mb-0 text-primary font-semibold" id="total_ore">
                                                0.00</p>
                                            <span class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Total
                                                Ritase</span>
                                        </div>
                                    </div>

                                    <!-- Kanan -->
                                    <div class="flex items-center gap-4">
                                        <div class="flex items-center">
                                            <div class="me-2">
                                                <span class="avatar !rounded-full bg-success/10 !text-success">
                                                    <i class="ri-bar-chart-fill text-[1rem]"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <p class="text-[1.125rem] mb-0 text-success font-semibold"
                                                    id="total_lim">0.00</p>
                                                <span class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Ritase
                                                    (LIM)</span>
                                            </div>
                                        </div>
                                        <div class="flex items-center">
                                            <div class="me-2">
                                                <span class="avatar !rounded-full bg-secondary/10 !text-secondary">
                                                    <i class="ri-bar-chart-horizontal-fill text-[1rem]"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <p class="text-[1.125rem] mb-0 text-secondary font-semibold"
                                                    id="total_sap">0.00</p>
                                                <span class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Ritase
                                                    (SAP)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <table id="data_table"
                                    class="table ti-striped-table table-hover min-w-full ti-custom-table-hover nowrap mb"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th class="bg-soft-secondary" width="5%">No</th>
                                            <th class="bg-soft-secondary">Date Hauling</th>
                                            <th class="bg-soft-secondary">Time</th>
                                            <th class="bg-soft-secondary">Shift</th>
                                            <th class="bg-soft-secondary">Dome</th>
                                            <th class="bg-soft-secondary">Stockpile</th>
                                            <th class="bg-soft-secondary">Materials</th>
                                            <th class="bg-soft-secondary">Truck</th>
                                            <th class="bg-soft-secondary">Tonnage</th>
                                            <th class="bg-soft-secondary">Code Lot</th>
                                            <th class="bg-soft-secondary">Inc</th>
                                            <th class="bg-soft-secondary">Sub Lot</th>
                                            <th class="bg-soft-secondary">Barge Code</th>
                                            <th class="bg-soft-secondary">Type</th>
                                            <th class="bg-soft-secondary">Sort</th>
                                            <th class="bg-soft-secondary"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="flex justify-start mb-2">
                                    <div class="ti-btn-list space-x-1 rtl:space-x-reverse">
                                        <button id="exportFilter" type="button"
                                            class="ti-btn ti-btn-success ti-btn-wave !py-1 !px-2 ti-btn-wave">Export to
                                            Excel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End::row-1 -->

        </div>
        <!-- Start::main-content -->

    </div>
    <!-- ========== Search Modal ========== -->
    <div id="search-modal" class="hs-overlay ti-modal hidden mt-[1.75rem]" aria-overlay="true" tabindex="-1">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"
                        id="mail-ComposeLabel"></h6>
                    <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold"
                        data-hs-overlay="#search-modal">
                        <span class="sr-only">Close</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <form>
                    <div class="ti-modal-body !overflow-visible">
                        <div class="grid grid-cols-12 gap-4">
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Start date</label>
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="startDate" name="startDate"
                                        placeholder="Choose date" value="{{start_date}}">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">End date</label>
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="endDate" name="endDate"
                                        placeholder="Choose date" value="{{end_date}}">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Materials</label>
                                <select id="materialFilter" name="materialFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Code Lot</label>
                                <select id="productFilter" name="productFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">--- Select ---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ti-modal-footer">
                        <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-success align-middle"
                            id="exportButton"> Export
                        </button>
                        <button type="button" id="applyFilterBtn"
                            class="ti-btn bg-primary text-white !font-medium">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Start::edit modal -->
    <div id="edit-data" class="hs-overlay hidden ti-modal">
        <div class="hs-overlay-open:mt-7  ti-modal-box mt-0 ease-out">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold">Edit data</h6>
                    <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold !text-defaulttextcolor"
                        data-hs-overlay="#edit-data">
                        <span class="sr-only">Close</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <div class="ti-modal-body px-4">
                    <div class="p-2">
                        <div class="grid grid-cols-1 gap-0">
                            <div class="xxl:col-span-12 xl:col-span-12 lg:col-span-12 md:col-span-12 col-span-12">
                                <div class="grid grid-cols-12 gap-4">
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Date</label>
                                        <input type="date" class="form-control w-full !rounded-md" id="date_hauling"
                                            name="date_hauling" value="{{today}}">
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Shift</label>
                                        <select id="shift" name="shift" class="ti-form-select rounded-sm !py-2 !px-3t">
                                            <option value="">Select</option>
                                            <option value="Day">Pagi</option>
                                            <option value="Night">Malam</option>
                                        </select>
                                    </div>

                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Material</label>
                                        <select id="id_material" name="id_material"
                                            class="form-control w-full !rounded-md">
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Dome</label>
                                        <select id="id_pile" name="id_pile"
                                            class="ti-form-select rounded-sm !py-2 !px-3t">
                                            <option value="">--- Select ---</option>
                                        </select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Truck</label>
                                        </select>
                                        <input type="text" class="form-control w-full !rounded-md" id="unit_code"
                                            name="unit_code" placeholder="DT-0001">
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Sub Lot</label>
                                        <select id="code_sub" name="code_sub"
                                            class="ti-form-select rounded-sm !py-2 !px-3t">
                                            <option value="">Select</option>
                                            <option value="SL_01">SL_01</option>
                                            <option value="SL_02">SL_02</option>
                                            <option value="SL_03">SL_03</option>
                                            <option value="SL_04">SL_04</option>
                                            <option value="SL_05">SL_05</option>
                                        </select>

                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Kode Lot</label>
                                        <select id="code_lot" name="code_lot"
                                            class="ti-form-select rounded-sm !py-2 !px-3t">
                                            <option value="">--- Select ---</option>
                                        </select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Tongkang</label>
                                        <select id="barge_code" name="barge_code"
                                            class="ti-form-select rounded-sm !py-2 !px-3t">
                                            <option value="">--- Select ---</option>
                                        </select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Times</label>
                                        <input type="time" class="form-control w-full !rounded-md" id="time_hauling"
                                            name="time_hauling" placeholder="hh:mm:ss" >
                                        <label
                                            class="form-label mt-1 text-[0.75rem] opacity-[0.5] !text-[#8c9097] dark:text-white/50 !mb-0">*Input
                                            time for selling</label>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label class="form-label">Sub Auto</label>
                                        <input type="text" class="form-control w-full !rounded-md" id="sub_auto"
                                            name="sub_auto" placeholder="SL" readonly>
                                        <label
                                            class="form-label mt-1 text-[0.75rem] opacity-[0.5] !text-[#8c9097] dark:text-white/50 !mb-0">*Input
                                            Automatic Sublot by system</label>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <input type="hidden" class="form-control w-full !rounded-md" id="id" name="id">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ti-modal-footer">
                    <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-secondary-full align-middle"
                        data-hs-overlay="#edit-data">
                        Close
                    </button>
                    <button type="button" id="updateButton" class="ti-btn bg-primary text-white !font-medium">Save
                        Changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End::edit task modal -->


    <!-- Footer Start -->
    {% include 'layout/footer.html' %}
    <!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}


<script>
    $(document).ready(function () {
        // Inisialisasi flatpickr (opsional)
        flatpickr("#startDate", { dateFormat: "Y-m-d" });
        flatpickr("#endDate", { dateFormat: "Y-m-d" });
        flatpickr("#tgl_production", { dateFormat: "Y-m-d" });

        // Flag untuk hindari double init
        let isSelect2Init = false;

        // Saat buka modal
        $('#openFilter').on('click', function () {
            window.HSOverlay.open('#search-modal');
            $('#exportButton').hide();
            $('#applyFilterBtn').show();

            setTimeout(function () {
                // Hanya inisialisasi sekali
                if (!isSelect2Init) {
                    $('#search-modal select').each(function () {
                        const $el = $(this);
                        if (!$el.hasClass('select2-hidden-accessible')) {
                            $el.select2({
                                placeholder: 'Select an option',
                                allowClear: true,
                                width: '100%',
                                dropdownParent: $('#search-modal .ti-modal-body')
                            });
                        }
                    });
                    isSelect2Init = true;
                }
            }, 300); // delay agar modal sudah muncul
        });

    });

</script>


<!-- Create Data -->
<script>
    // Fungsi untuk format waktu jadi hh:mm:s
    $('#addNew').on('click', function () {
        window.location.href = "{% url 'selling-form-quick-page' %}";
    });

</script>

<!-- Get List Data & Submit Data -->
<script type="text/javascript">
    $(document).ready(function () {

        /*-- Pass Header Token ---*/
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });

        table = $('#data_table').DataTable().clear().destroy();
        /*-- Render DataTable --*/
        let data_url = '{% url "selling-quik-list" %}';
        // var material_filter = 'LIM';
        var table = $('#data_table').DataTable({
            'processing': true,
            'serverSide': true,
            'responsive': true,
            'autoWidth': true,
            language: {
                paginate: {
                    previous: "«",
                    next: "»"
                }
            },
            "ajax": {
                "url": data_url,
                "type": "POST",
                dataType: 'json',
                "data": function (data) {
                    data.startDate = $('#startDate').val();
                    data.endDate = $('#endDate').val();
                    data.materialFilter = $('#materialFilter').val();
                    data.productFilter = $('#productFilter').val();
                    return data;
                },
            },
            columns: [
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, // Kolom nomor otomatis
                {
                    data: 'date_hauling',
                    name: 'date_hauling'
                },
                {
                    data: 'time_hauling',
                    name: 'time_hauling'
                },
                {
                    data: 'shift',
                    name: 'shift'
                },

                {
                    data: 'dome',
                    name: 'dome',
                    searchable: true
                },
                {
                    data: 'stockpile',
                    name: 'stockpile',
                    searchable: true
                },
                {
                    data: 'material',
                    name: 'material',
                    searchable: true
                },
                {
                    data: 'unit_code',
                    name: 'unit_code',
                     searchable: true
                },
               
                {
                    data: 'tonnage',
                    name: 'tonnage',
                    render: function (data) {
                        return parseFloat(data).toFixed(2);
                    }
                },
                {
                    data: 'code_lot',
                    name: 'code_lot'
                },
                {
                    data: 'code_inc',
                    name: 'code_inc'
                },
                {
                    data: 'code_sub',
                    name: 'code_sub'
                },
                {
                    data: 'barge_code',
                    name: 'barge_code'
                },
                {
                    data: 'type_selling',
                    name: 'type_selling'
                },
 {
                    data: 'no_urut',
                    name: 'no_urut',
                     searchable: false
                },
                {
                    'data': null,
                    'name': 'action',
                    'orderable': false,
                    'searchable': false,
                    'render': function (data, type, row) {
                        return `
                            <div  class="flex gap-2 items-center" >
                                <a href="javascript:void(0)" data-toggle="tooltip" data-id='${row.id}' class="hover:text-info editData">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-primary">
                                        <circle opacity="0.5" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"></circle>
                                        <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </a>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-id='${row.id}' class="hover:text-danger deleteData">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-danger">
                                        <circle opacity="0.5" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"></circle>
                                        <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
                                    </svg>
                                </a>
                            </div>
                        `;
                    }
                },

            ],
            // Mengatur default sort pada kolom secara desc
            order: [
                [0, 'desc']
            ],

        });

        /*--Filter Modal and Apply Filter---*/
        $('#applyFilterBtn').click(function () {
            table.ajax.reload();
            call_TotaOre();
            window.HSOverlay.close('#search-modal');
        });

        /*  Reset */
        $('#reload').on('click', function () {
            // Reset tanggal ke default, jika ada nilai default di context Python
            $('#startDate').val('{{ start_date }}');  // Set ulang ke start_date dari context
            $('#endDate').val('{{ end_date }}');      // Set ulang ke end_date dari context
            $('#batch_status').val('').trigger('change');
            $('#source_filter').val('').trigger('change');
            $('#area_filter').val('').trigger('change');
            $('#point_filter').val('').trigger('change');
            $('#material_filter').val('').trigger('change');
            table.ajax.reload(); //just reload table
            call_TotaOre();
        });

        call_TotaOre();

        /* Update*/
        $('#updateButton').click(function () {
            var id = $('#id').val();
            var date_hauling = $('#date_hauling').val();
            var shift = $('#shift').val();
            var time_hauling = $('#time_hauling').val();
            var id_material = $('#id_material').val();
            var id_pile = $('#id_pile').val();
            var unit_code = $('#unit_code').val();
            var code_sub = $('#code_sub').val();
            var code_lot = $('#code_lot').val();
            var barge_code = $('#barge_code').val();

            var updatedData = {
                date_hauling: date_hauling,
                shift: shift,
                time_hauling: time_hauling,
                id_material: id_material,
                id_pile: id_pile,
                unit_code: unit_code,
                code_sub: code_sub,
                code_lot: code_lot,
                barge_code: barge_code
            };

            var url = '/kqms/selling/quick/update/' + id + '/';
            $.ajax({
                url: url,
                type: 'POST', // Anda bisa menggunakan 'POST' atau 'PUT' sesuai preferensi
                data: updatedData,
                success: function (response) {
                    if (response.success) {
                        $('#id').val('');
                        $('#date_hauling').val('');
                        $('#shift').val('').trigger('change');
                        $('#time_hauling').val('');
                        $('#id_material').val('').trigger('change');
                        $('#id_pile').val('').trigger('change');
                        $('#unit_code').val('');
                        $('#code_sub').val('')
                        $('#code_lot').val()
                        $('#increment').val('');
                        $('#barge_code').val('').trigger('change');

                        // Tutup modal (gunakan HSOverlay jika pakai Tailwind UI HS)
                        window.HSOverlay.close('#edit-data');

                        //  Tampilkan SweetAlert
                        Swal.fire({
                            title: response.message,
                            icon: "success",
                            timer: 3000,
                            // showConfirmButton: false,
                            showConfirmButton: true,
                            confirmButtonText: 'OK',
                        });

                        // Kirim permintaan AJAX ke server
                        $('#data_table').DataTable().clear().draw();
                    } else {
                        // Penanganan kesalahan jika validasi gagal atau kesalahan lainnya
                        alert('Terjadi kesalahan: ' + response.message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status === 422) {
                        showToast(xhr.responseJSON.message, 'danger');
                    } else if (xhr.status === 400) {
                        showToast(xhr.responseJSON.error, 'danger');
                    } else {
                        showToast('Terjadi kesalahan server', 'danger');
                    }

                }


            });
        });

        /*--- Delete ---*/
        $('#data_table').on('click', '.deleteData', function () {
            var id = $(this).data('id');
            var url = '{% url "selling-quick-delete" %}?id=' + id;
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'btn btn-success',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete it!',
                // width: 320,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: "DELETE",
                        dataType: 'json',
                        data: { id: id },
                        success: function (data) {
                            Swal.fire(
                                'Deleted!',
                                data.message,
                                'success'
                            );
                            // Refresh table or remove row
                            table.draw();
                        },
                        error: function (xhr) {
                            if (xhr.status === 403) {
                                Swal.fire(
                                    'Access Denied!',
                                    xhr.responseJSON.message,
                                    'error'
                                );
                            } else if (xhr.status === 404) {
                                Swal.fire(
                                    'Not Found!',
                                    xhr.responseJSON.message,
                                    'error'
                                );
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'Something went wrong.',
                                    'error'
                                );
                            }
                        }
                    });
                }
            })
        });

    });
</script>

<script>
    function formatAngka(jumlah) {
        if (jumlah >= 1_000_000_000) {
            return (jumlah / 1_000_000_000).toFixed(3) + ' B';
        } else if (jumlah >= 1_000_000) {
            return (jumlah / 1_000_000).toFixed(3) + ' M';
        } else if (jumlah >= 1_000) {
            return (jumlah / 1_000).toFixed(3) + ' K';
        } else {
            return jumlah.toString();
        }
    }

    function call_TotaOre() {
        let url = '{% url "ore-selling-totals" %}';
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var materialFilter = $('#materialFilter').val();
        var pointFilter = $('#pointFilter').val();
        var areaFilter = $('#areaFilter').val();
        var factoriesFilter = $('#factoriesFilter').val();
        var productFilter = $('#productFilter').val();
        $.ajax({
            type: 'GET',
            url: url,
            data: {
                startDate: startDate,
                endDate: endDate,
                materialFilter: materialFilter,
                pointFilter: pointFilter,
                areaFilter: areaFilter,
                factoriesFilter: factoriesFilter,
                productFilter: productFilter
            },
            success: function (data) {
                // Data berhasil diterima dari server
                totalOre = parseFloat(data.TotalRitase);
                totalLim = parseFloat(data.RitaseLIM);
                totalSap = parseFloat(data.RitaseSAP);

                $("#total_ore").html(formatAngka(totalOre));
                $("#total_lim").html(formatAngka(totalLim));
                $("#total_sap").html(formatAngka(totalSap));
            },
            error: function () {
                // Penanganan kesalahan jika diperlukan
                console.log('Gagal mengambil data dari server.');
            },
        });
    }

</script>

<script>
    $(document).ready(function () {
        // $(".ti-form-select").select2({
        //     width: '100%',
        //     // dropdownParent: $('#search-modal'),
        //     dropdownParent: $('#search-modal .ti-modal-body')
        // });
        $('#sellingPoint').hide();
        var lastSelectedMethodId = null;


        //opsi Select2
        $.ajax({
            url: "{% url 'material-dropdown' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '<option value="">-- Select --</option>'; // Tambah opsi default di awal

                // Loop data material
                $.each(data.materials, function (key, value) {
                    options += '<option value="' + value.nama_material + '">' + value.nama_material + '</option>';
                });

                // Isi ke select + inisialisasi select2
                $('#materialFilter').html(options).select2({
                    width: '100%',
                    // dropdownParent: $('#search-modal'),
                    dropdownParent: $('#search-modal .ti-modal-body')
                })

            }
        });

        $('#areaFilter').select2({
            ajax: {
                url: "{% url 'get-mine-dumping-point' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

        $('#pointFilter').select2({
            ajax: {
                url: "{% url 'get-mine-dome' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

        // For Sellings
        $('#productFilter').select2({
            ajax: {
                url: "{% url 'get-sale-code-product' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

        $('#factoriesFilter').select2({
            ajax: {
                url: "{% url 'get-sale-stock-factories' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.results,
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

    });
</script>

<!-- For Edit -->
<script>
    $(document).ready(function () {
        $('#shift').select2({
            width: '100%',
            dropdownParent: $('#edit-data .ti-modal-body')
        });
        $('#shift').select2({
            width: '100%',
            dropdownParent: $('#edit-data .ti-modal-body')
        });

        $('#code_sub').select2({
            width: '100%',
            dropdownParent: $('#edit-data .ti-modal-body')
        });


        // Khusus AJAX 
        $.ajax({
            url: "{% url 'material-id-dropdown' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '';

                $.each(data.list, function (key, value) {
                    options += '<option value="' + value.id + '">' + value
                        .nama_material +
                        '</option>';
                });
                // Set options in the Select2 element
                // $('#id_material').append(options);
                $('#id_material').html(options).select2({
                    width: '100%',
                    dropdownParent: $('#edit-data .ti-modal-body')
                });
            }
        });

        // Khusus AJAX pile
        $('#id_pile').select2({
            ajax: {
                url: "{% url 'get-mine-dome' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return { q: params.term, page: params.page || 1 };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return { id: item.id, text: item.text };
                        }),
                        pagination: { more: data.pagination.more }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select EFO-',
            allowClear: true,
            dropdownParent: $('#edit-data .ti-modal-body')
        });

        $('#code_lot').select2({
            ajax: {
                url: "{% url 'get-code-lot' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select KWL-',
            allowClear: true,
            dropdownParent: $('#edit-data .ti-modal-body')
        });

        $.ajax({
            url: "{% url 'get-code-barge' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '';
                $.each(data.list, function (key, value) {
                    options += '<option value="' + value.id + '">' + value.barge_code + '</option>';
                });

                $('#barge_code').html(options).select2({
                    width: '100%',
                    dropdownParent: $('#edit-data .ti-modal-body')
                })
            }

        });

        /*--- Click to Edit Button ---*/
        $('body').on('click', '.editData', function () {
            var id = $(this).data('id');
            /* Hide */
            $('#validasiError').hide();
            var url = '/kqms/selling/quick/get/' + id + '/';
            $.ajax({
                type: "GET",
                url: url,
                dataType: "json",
                success: function (response) {
                    if (response) {
                        window.HSOverlay.open('#edit-data');

                        $('#id').val(response.id);
                        $('#date_hauling').val(response.date_hauling);
                        $('#shift').val(response.shift).trigger('change');

                        // Load Materials
                        $('#id_material').val(response.id_material).trigger('change');

                        // Load Product Code
                        $('#code_lot').val(response.code_lot).trigger('change');
                        // Tambahkan opsi baru ke Select2
                        var newCode = new Option(response.code_name, response.code_lot, true, true);
                        $('#code_lot').append(newCode).trigger('change');

                        $('#unit_code').val(response.unit_code);
                        $('#sub_auto').val(response.code_sub_auto);
                        $('#code_sub').val(response.code_sub).trigger('change');

                        var responseTime = response.time_hauling;
                        // Ini akan mengambil bagian jam (00:00:00)
                        var jam = responseTime.substring(0, 8);
                        $('#time_hauling').val(jam);

                        $('#barge_code').val(response.barge_code).trigger('change');

                        // $('#id_pile').val(response.id_pile).trigger('change');
                        // Tambahkan opsi baru ke Select2
                        // var newDome = new Option(response.dome, response.id_pile, true, true);
                        // $('#id_pile').append(newDome).trigger('change');

                        $('#id_pile').val(response.id_pile).trigger('change');
                        // Tambahkan opsi baru ke Select2
                        var newDome = new Option(response.dome, response.id_pile, true, true);
                        $('#id_pile').append(newDome).trigger('change');


                        console.log('ini type', response.type)
                    } else {
                        alert(
                            'Data tidak ditemukan'
                        ); // Atau tindakan lain jika data tidak ditemukan
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        icon: 'error',
                        // title: 'Opps!',
                        title: xhr.responseJSON && xhr.responseJSON.message ? xhr.responseJSON.message : 'Opps!',
                        showConfirmButton: false,
                        timer: 2000,
                        padding: '2em',
                    });
                }
            });

        });

    });

</script>

<!-- Exports to Excel -->
<script>
    $(document).ready(function () {
        let isSelect2Init = false;
        $('#exportFilter').click(function () {
            window.HSOverlay.open('#search-modal');
            $('#exportButton').show();
            $('#applyFilterBtn').hide();
            setTimeout(function () {
                if (!isSelect2Init) {
                }
            }, 300);
        });

        $('#exportButton').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var materialFilter = $('#materialFilter').val();
            var productFilter = $('#productFilter').val();

            // Membuat URL untuk permintaan ekspor Excel
            var exportUrl = "{% url 'export-selling-data-quick' %}?startDate=" + startDate +
                "&endDate=" + endDate +
                "&materialFilter=" + materialFilter +
                "&productFilter=" + productFilter;
            // Redirect browser ke URL ekspor
            window.location.href = exportUrl;
        });
    });
</script>



</body>

</html>

<style>
    .select-wrapper {
        position: relative;
    }

    .select2-container,
    .select2-dropdown {
        z-index: 9999 !important;
    }

    .select2-container--open {
        z-index: 9999 !important;
    }

    .ti-modal-body {
        position: relative;
        z-index: 9999;
        overflow: visible;
    }

    #add-data .ti-modal-body {
        max-height: 70vh;
        /* Biar tidak lebih tinggi dari layar */
        overflow-y: scroll;
        /* Scroll vertikal selalu tampil */
        overflow-x: hidden;
        /* Hilangkan scroll horizontal */
        -webkit-overflow-scrolling: touch;
        /* Smooth di iOS */
    }

    /* #add-data .ti-modal-footer {
    position: sticky;
    bottom: 0;
    background: white;
    padding: 1rem;
    border-top: 1px solid #ddd;
} */
</style>