{% load static %}

{% include 'layout/head.html' %}
<!-- ========== Switcher  ========== -->
{% include 'layout/switcher.html' %}
<!-- ========== END Switcher  ========== -->

<!-- Loader -->
<div id="loader">
    <img src="{% static 'assets/images/media/loader.svg' %}" alt="">
</div>
<!-- Loader -->
<div class="page">

    <!-- Start::Header -->
    {% include 'layout/header.html' %}
    <!-- End::Header -->
    <!-- Start::app-sidebar -->
    {% include 'layout/sidebar.html' %}
    <!-- End::app-sidebar -->


    <div class="content">

        <!-- Start::main-content -->
        <div class="main-content">
            <!-- Page Header -->
            <div class="block justify-between page-header md:flex">
                <div>
                    <h3
                        class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                        Selling</h3>
                </div>
                <ol class="flex items-center whitespace-nowrap min-w-0">
                    <li class="text-[0.813rem] ps-[0.5rem]">
                        <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                            href="javascript:void(0);">
                            Tables
                            <i
                                class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                        </a>
                    </li>
                    <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 "
                        aria-current="page">
                        Ore
                    </li>
                </ol>
            </div>
            <!-- Page Header Close -->

            <!-- Start::row-1 -->
            <div class="grid grid-cols-12 gap-6">
                <div class="col-span-12">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">Ore Selling</h5>
                        </div>
                        <div class="box-body">
                            <div class="flex justify-end mb-2">
                                <div class="ti-btn-list space-x-1 rtl:space-x-reverse">
                                    <button id="exportFilter" type="button"
                                        class="ti-btn ti-btn-success-full !py-1 !px-2 ti-btn-wave">Export</button>
                                    <button id="openFilter" type="button"
                                        class="ti-btn ti-btn-primary-full !py-1 !px-2 ti-btn-wave">Filter</button>
                                    <a id="reload" href="#"
                                        class="ti-btn ti-btn-warning-full !py-1 !px-2 ti-btn-wave">Reload</a>
                                </div>
                            </div>
                            <div class="overflow-auto">
                                <div class="flex flex-wrap justify-between items-start">
                                    <!-- Kiri -->
                                    <div class="flex items-center">
                                        <div class="me-2">
                                            <span class="avatar !rounded-full bg-primary/10 !text-primary">
                                                <i class="ri-bar-chart-fill text-[1rem]"></i>
                                            </span>
                                        </div>
                                        <div>
                                            <p class="text-[1.125rem] mb-0 text-primary font-semibold" id="total_ore">
                                                0.00</p>
                                            <span class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Total
                                                Ore</span>
                                        </div>
                                    </div>

                                    <!-- Kanan -->
                                    <div class="flex items-center gap-4">
                                        <div class="flex items-center">
                                            <div class="me-2">
                                                <span class="avatar !rounded-full bg-success/10 !text-success">
                                                    <i class="ri-bar-chart-fill text-[1rem]"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <p class="text-[1.125rem] mb-0 text-success font-semibold"
                                                    id="total_lim">0.00</p>
                                                <span
                                                    class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Limonite</span>
                                            </div>
                                        </div>
                                        <div class="flex items-center">
                                            <div class="me-2">
                                                <span class="avatar !rounded-full bg-secondary/10 !text-secondary">
                                                    <i class="ri-bar-chart-horizontal-fill text-[1rem]"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <p class="text-[1.125rem] mb-0 text-secondary font-semibold"
                                                    id="total_sap">0.00</p>
                                                <span
                                                    class="text-[#8c9097] dark:text-white/50 text-[0.75rem]">Saprolite</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div id="basic-table" class="ti-custom-table ti-striped-table ti-custom-table-hover"></div> -->
                                <table id="data_table"
                                    class="table ti-striped-table table-hover min-w-full ti-custom-table-hover nowrap mb"
                                    style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th class="bg-soft-secondary" width="5%">No</th>
                                            <th class="bg-soft-secondary">Arrival</th>
                                            <th class="bg-soft-secondary">Date Hauling</th>
                                            <th class="bg-soft-secondary">Shift</th>
                                            <th class="bg-soft-secondary">Barge Code</th>
                                            <th class="bg-soft-secondary">Stockpile</th>
                                            <th class="bg-soft-secondary">Dome</th>
                                            <th class="bg-soft-secondary">Materials</th>
                                            <th class="bg-soft-secondary">Code Lot</th>
                                            <th class="bg-soft-secondary">Sub Lot</th>
                                            <th class="bg-soft-secondary">Group</th>
                                            <th class="bg-soft-secondary">Ritase</th>
                                            <th class="bg-soft-secondary">Tonnage</th>
                                            <th class="bg-soft-secondary">Adjust</th>
                                            <th class="bg-soft-secondary">Departure</th>
                                            <th class="bg-soft-secondary">Status</th>
                                            <!-- <th class="bg-soft-secondary">#</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tfoot class="th_hide" style='display:none;'>
                                        <tr>
                                            <th width="5%"></th>
                                            <th></th>
                                            <th></th>
                                            <th width="5%"></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <!-- <th></th> -->
                                        </tr>
                                    </tfoot>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End::row-1 -->

        </div>
        <!-- Start::main-content -->

    </div>
    <!-- ========== Search Modal ========== -->
    <div id="search-modal" class="hs-overlay ti-modal hidden mt-[1.75rem]" aria-overlay="true" tabindex="-1">
        <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
            <div class="ti-modal-content">
                <div class="ti-modal-header">
                    <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"
                        id="mail-ComposeLabel"></h6>
                    <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold"
                        data-hs-overlay="#search-modal">
                        <span class="sr-only">Close</span>
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <form>
                    <div class="ti-modal-body !overflow-visible">
                        <div class="grid grid-cols-12 gap-4">
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Start date</label>
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="startDate" name="startDate"
                                        placeholder="Choose date" value="{{start_date}}">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">End date</label>
                                <div class="input-group">
                                    <div class="input-group-text text-[#8c9097] dark:text-white/50"> <i
                                            class="ri-calendar-line"></i> </div>
                                    <input type="text" class="form-control" id="endDate" name="endDate"
                                        placeholder="Choose date" value="{{end_date}}">
                                </div>
                            </div>
                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Materials</label>
                                <select id="materialFilter" name="materialFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">Select</option>
                                </select>
                            </div>


                            <div class="xl:col-span-6 col-span-12">
                                <label class="form-label">Factory</label>
                                <select id="factoriesFilter" name="factoriesFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">--- Select ---</option>
                                </select>
                            </div>
                            <div class="xl:col-span-12 col-span-12">
                                <label class="form-label">Code Lot</label>
                                <select id="productFilter" name="productFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">--- Select ---</option>
                                </select>
                            </div>
                            <div class="xl:col-span-12 col-span-12">
                                <label class="form-label">Dome</label>
                                <select id="pointFilter" name="pointFilter"
                                    class="ti-form-select rounded-sm !py-2 !px-3t">
                                    <option value="">--- Select ---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ti-modal-footer">
                        <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-success align-middle"
                            id="exportButton"> Export
                        </button>
                        <button type="button" id="applyFilterBtn"
                            class="ti-btn bg-primary text-white !font-medium">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Start::edit modal -->

    <!-- Global Toast Container -->
    <div id="toast-container" class="fixed top-5  rounded-sm  right-5 z-[9999] space-y-3"></div>

    <!-- End::add task modal -->
    <!-- Footer Start -->
    {% include 'layout/footer.html' %}
    <!-- Footer End -->

</div>

<!-- Back To Top -->
<div class="scrollToTop">
    <span class="arrow"><i class="ri-arrow-up-s-fill text-xl"></i></span>
</div>

<div id="responsive-overlay"></div>

<!-- Call JS -->
{% include 'layout/js.html' %}


<script>
    $(document).ready(function () {
        // Inisialisasi flatpickr (opsional)
        flatpickr("#startDate", { dateFormat: "Y-m-d" });
        flatpickr("#endDate", { dateFormat: "Y-m-d" });
        flatpickr("#tgl_production", { dateFormat: "Y-m-d" });

        // Flag untuk hindari double init
        let isSelect2Init = false;

        // Saat buka modal
        $('#openFilter').on('click', function () {
            window.HSOverlay.open('#search-modal');
            $('#exportButton').hide();
            $('#applyFilterBtn').show();

            setTimeout(function () {
                // Hanya inisialisasi sekali
                if (!isSelect2Init) {
                    $('#search-modal select').each(function () {
                        const $el = $(this);
                        if (!$el.hasClass('select2-hidden-accessible')) {
                            $el.select2({
                                placeholder: 'Select an option',
                                allowClear: true,
                                width: '100%',
                                dropdownParent: $('#search-modal .ti-modal-body')
                            });
                        }
                    });
                    isSelect2Init = true;
                }
            }, 300); // delay agar modal sudah muncul
        });
    });

</script>


<!-- Get List Data & Submit Data -->
<script type="text/javascript">
    $(document).ready(function () {

        /*-- Pass Header Token ---*/
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });

        table = $('#data_table').DataTable().clear().destroy();
        /*-- Render DataTable --*/
        let data_url = '{% url "selling-barge-list" %}';
        // var material_filter = 'LIM';
        var table = $('#data_table').DataTable({
            'processing': true,
            'serverSide': true,
            'responsive': true,
            'autoWidth': true,
            language: {
                paginate: {
                    previous: "«",
                    next: "»"
                }
            },
            "ajax": {
                "url": data_url,
                "type": "POST",
                dataType: 'json',
                "data": function (data) {
                    data.startDate = $('#startDate').val();
                    data.endDate = $('#endDate').val();
                    data.materialFilter = $('#materialFilter').val();
                    data.pointFilter = $('#pointFilter').val();
                    data.areaFilter = $('#areaFilter').val();
                    data.factoriesFilter = $('#factoriesFilter').val();
                    data.productFilter = $('#productFilter').val();
                    return data;
                },
            },
            columns: [
                {
                    data: null,
                    searchable: false,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                }, // Kolom nomor otomatis
                {
                    data: 'date_barge_in',
                    name: 'date_barge_in'
                },
                {
                    data: 'date_hauling',
                    name: 'date_hauling'
                },
                {
                    data: 'shift',
                    name: 'shift'
                },
                {
                    data: 'barge_code',
                    name: 'barge_code'
                },

                {
                    data: 'stockpile',
                    name: 'stockpile',
                    searchable: true
                },
                {
                    data: 'dome',
                    name: 'dome',
                    searchable: true
                },
            
                {
                    data: 'material',
                    name: 'material',
                    searchable: true
                },
                {
                    data: 'code_lot',
                    name: 'code_lot'
                },
                {
                    data: 'batch',
                    name: 'batch'
                },
                {
                    data: 'code_inc',
                    name: 'code_inc'
                },
                    {
                    data: 'ritase',
                    name: 'ritase'
                },
                {
                    data: 'tonnage',
                    name: 'tonnage',
                    render: function (data) {
                        return parseFloat(data).toFixed(2);
                    }
                },
                {
                    data: 'sale_adjust',
                    name: 'sale_adjust'
                },
                {
                    data: 'date_barge_out',
                    name: 'date_barge_out'
                },
                {
                    data: 'status_barging',
                    name: 'status_barging',
                    searchable: false
                },

            ],
            // Mengatur default sort pada kolom secara desc
            order: [
                [1, 'desc']
            ],
            // Menambahkan opsi footerCallback
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(),
                    data;
                // converting to interger to find total
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };
                // computing column Total the complete result 
                var col_12 = api
                    .column(12)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);


                col_12 = col_12.toFixed(2);


                // Update footer by showing the total with the reference of the column index   
                $(api.column(12).footer()).html(col_12.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));


            },
        });
        $('.th_hide').show();
        /*--Filter Modal and Apply Filter---*/
        $('#applyFilterBtn').click(function () {
            table.ajax.reload();
            call_TotaOre();
            window.HSOverlay.close('#search-modal');
        });

        /*  Reset */
        $('#reload').on('click', function () {
            // Reset tanggal ke default, jika ada nilai default di context Python
            $('#startDate').val('{{ start_date }}');  // Set ulang ke start_date dari context
            $('#endDate').val('{{ end_date }}');      // Set ulang ke end_date dari context
            $('#batch_status').val('').trigger('change');
            $('#source_filter').val('').trigger('change');
            $('#area_filter').val('').trigger('change');
            $('#point_filter').val('').trigger('change');
            $('#material_filter').val('').trigger('change');
            table.ajax.reload(); //just reload table
            call_TotaOre();
        });

        call_TotaOre();

    });
</script>

<script>
    function formatAngka(jumlah) {
        if (jumlah >= 1_000_000_000) {
            return (jumlah / 1_000_000_000).toFixed(3) + ' B';
        } else if (jumlah >= 1_000_000) {
            return (jumlah / 1_000_000).toFixed(3) + ' M';
        } else if (jumlah >= 1_000) {
            return (jumlah / 1_000).toFixed(3) + ' K';
        } else {
            return jumlah.toString();
        }
    }

    function call_TotaOre() {
        let url = '{% url "ore-selling-totals-details" %}';
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        var materialFilter = $('#materialFilter').val();
        var pointFilter = $('#pointFilter').val();
        var areaFilter = $('#areaFilter').val();
        var factoriesFilter = $('#factoriesFilter').val();
        var productFilter = $('#productFilter').val();
        $.ajax({
            type: 'GET',
            url: url,
            data: {
                startDate: startDate,
                endDate: endDate,
                materialFilter: materialFilter,
                pointFilter: pointFilter,
                areaFilter: areaFilter,
                factoriesFilter: factoriesFilter,
                productFilter: productFilter
            },
            success: function (data) {
                // Data berhasil diterima dari server
                totalOre = parseFloat(data.TotalTonnage);
                totalLim = parseFloat(data.TonnageLIM);
                totalSap = parseFloat(data.TonnageSAP);

                $("#total_ore").html(formatAngka(totalOre));
                $("#total_lim").html(formatAngka(totalLim));
                $("#total_sap").html(formatAngka(totalSap));
            },
            error: function () {
                // Penanganan kesalahan jika diperlukan
                console.log('Gagal mengambil data dari server.');
            },
        });
    }

</script>

<script>
    $(document).ready(function () {

        $(".ti-form-select").select2({
            width: '100%',
            // dropdownParent: $('#search-modal'),
            dropdownParent: $('#search-modal .ti-modal-body')
        });

        //opsi Select2
        $.ajax({
            url: "{% url 'material-dropdown' %}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                var options = '<option value="">-- Select --</option>'; // Tambah opsi default di awal

                // Loop data material
                $.each(data.materials, function (key, value) {
                    options += '<option value="' + value.nama_material + '">' + value.nama_material + '</option>';
                });

                // Isi ke select + inisialisasi select2
                $('#materialFilter').html(options).select2({
                    width: '100%',
                    // dropdownParent: $('#search-modal'),
                    dropdownParent: $('#search-modal .ti-modal-body')
                })

            }
        });

        $('#areaFilter').select2({
            width: '100%',
            // // 
            dropdownParent: $('#search-modal .ti-modal-body'),
            ajax: {
                url: "{% url 'get-mine-dumping-point' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select stockpile',
            allowClear: true,
        });

        $('#pointFilter').select2({
            width: '100%',
            // //
            dropdownParent: $('#search-modal .ti-modal-body'),
            ajax: {
                url: "{% url 'get-mine-dome' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select dome',
            allowClear: true,
        });

        $('#areaFilter').select2({
            ajax: {
                url: "{% url 'get-mine-dumping-point' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

        $('#pointFilter').select2({
            ajax: {
                url: "{% url 'get-mine-dome' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

        // For Sellings
        $('#productFilter').select2({
            ajax: {
                url: "{% url 'get-sale-code-product' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.results, function (item) {
                            return {
                                id: item.text,
                                text: item.text
                            };
                        }),
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

        $('#factoriesFilter').select2({
            ajax: {
                url: "{% url 'get-sale-stock-factories' %}",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.results,
                        pagination: {
                            more: data.pagination.more
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
            placeholder: 'Select data',
            allowClear: true,
        });

    });
</script>

<!-- Exports to Excel -->
<script>
    $(document).ready(function () {
        let isSelect2Init = false;
        $('#exportFilter').click(function () {
            window.HSOverlay.open('#search-modal');
            $('#exportButton').show();
            $('#applyFilterBtn').hide();
            setTimeout(function () {
                if (!isSelect2Init) {
                }
            }, 300);
        });

        $('#exportButton').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
            var materialFilter = $('#materialFilter').val();
            var pointFilter = $('#pointFilter').val();
            // var areaFilter = $('#areaFilter').val();
            var factoriesFilter = $('#factoriesFilter').val();
            var productFilter = $('#productFilter').val();

            // Membuat URL untuk permintaan ekspor Excel
            var exportUrl = "{% url 'export-selling-data' %}?startDate=" + startDate +
                "&endDate=" + endDate +
                "&materialFilter=" + materialFilter +
                "&pointFilter=" + pointFilter +
                // "&areaFilter=" + areaFilter +
                "&factoriesFilter=" + factoriesFilter +
                "&productFilter=" + productFilter;

            // Redirect browser ke URL ekspor
            window.location.href = exportUrl;
        });
    });
</script>

</body>

</html>

<style>
    .select-wrapper {
        position: relative;
    }

    .select2-container,
    .select2-dropdown {
        z-index: 9999 !important;
    }

    .select2-container--open {
        z-index: 9999 !important;
    }

    .ti-modal-body {
        position: relative;
        z-index: 9999;
        overflow: visible;
    }
</style>